target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/application-prod.properties
src/main/resources/application-test.properties
src/test/resources/auth.txt
src/test/resources/application-test.properties
/.apt_generated/
/.apt_generated_tests/
