<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sageassistantserver.dao.DirtyDataMapper">
	<!--Open L2 Cache under Names pace: 10 Min-->
	<cache eviction="LRU" flushInterval="600000" readOnly="true" size="512" />
	<select id="findDuplicatedInterPOBySite" resultType="com.da.sageassistantserver.model.DirtyDataDuplicatedPO">
	WITH T1 AS ( SELECT DISTINCT
			PORDERP.PJT_0,
			DENSE_RANK() OVER (PARTITION BY PORDERP.ITMREF_0, PORDERP.PJT_0 ORDER BY PORDERP.ROWID ) AS SEQ
		FROM EXPLOIT.PORDERP AS PORDERP 
		INNER JOIN EXPLOIT.SORDERQ AS SORDERQ
			ON SORDERQ.YSOQ_PJTORI_0 = PORDERP.PJT_0  AND  SORDERQ.ITMREF_0 = PORDERP.ITMREF_0
		WHERE SORDERQ.SALFCY_0 = #{Site} AND SORDERQ.YSOQ_PJTORI_0 != '' AND RIGHT(PORDERP.PJT_0,4)!='0001' AND PORDERP.PRHFCY_0 != #{Site}
	)
	SELECT DISTINCT
		PORDERP.PJT_0 AS PurchaseProjectNO, 
		PORDERP.ITMREF_0 AS PN,
		PORDERP.POHNUM_0 AS PurchaseNO, 
		PORDERP.POPLIN_0 AS PurchaseLine
	FROM EXPLOIT.PORDERP AS PORDERP 
	INNER JOIN EXPLOIT.SORDERQ AS SORDERQ
		ON SORDERQ.YSOQ_PJTORI_0 = PORDERP.PJT_0 AND  SORDERQ.ITMREF_0 = PORDERP.ITMREF_0
	INNER JOIN T1
		ON T1.PJT_0 = PORDERP.PJT_0
	WHERE RIGHT(PORDERP.PJT_0,4)!='0001' 
		AND PORDERP.PJT_0 !='TQUALITE' 
		AND PORDERP.PRHFCY_0 != #{Site} 
		AND T1.SEQ !=1 

	ORDER BY PurchaseProjectNO  ASC
	</select>
	<select id="findDuplicatedOuterPOBySite" resultType="com.da.sageassistantserver.model.DirtyDataDuplicatedPO">
	WITH T1 AS ( SELECT DISTINCT
			PORDERP.PJT_0,
			PORDERP.ITMREF_0,
			DENSE_RANK() OVER (PARTITION BY PORDERP.ITMREF_0, PORDERP.PJT_0 ORDER BY PORDERP.ROWID ) AS SEQ
		FROM  EXPLOIT.PORDERP AS PORDERP
			INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
				ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
					AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
		WHERE RIGHT(PORDERP.PJT_0,4)!='0001' 
			AND RIGHT(PORDERP.PJT_0,8) != 'ZLOGISTIC'
			-- FACHDIV0001:   PURCHASE VARIOUS
			---FACHTRADRTD:   INBOUND CUSTOM FEES
			---FVENTRAAUT:    OUTBOUND SHIPMENT FEES
			---FACHTRAAUT:    INBOUND SHIPMENT FEES
			AND PORDERP.ITMREF_0 NOT IN ('FACHDIV0001', 'FACHTRADRTD','FVENTRAAUT' ,'FACHTRAAUT')
			AND PORDERP.PRHFCY_0 = #{Site}
			AND PORDERP.CREDAT_0 >= CONVERT(datetime, #{DateFrom},120)
	)
	--SELECT * FROM T1  WHERE T1.SEQ != 1
	SELECT  DISTINCT
			PORDERP.PJT_0 AS ProjectNO,
			PORDERP.ITMREF_0 AS PN,
			PORDERP.POHNUM_0 AS PurchaseNO, 
			PORDERP.POPLIN_0 AS PurchaseLine
			--T1.SEQ
	FROM T1 
			INNER JOIN EXPLOIT.PORDERP AS PORDERP
			ON T1.PJT_0 = PORDERP.PJT_0
				AND T1.ITMREF_0 = PORDERP.ITMREF_0
	WHERE RIGHT(PORDERP.PJT_0,4)!='0001' 
			AND RIGHT(PORDERP.PJT_0,8) != 'ZLOGISTIC'
			-- FACHDIV0001:   PURCHASE VARIOUS
			---FACHTRADRTD:   INBOUND CUSTOM FEES
			---FVENTRAAUT:    OUTBOUND SHIPMENT FEES
			---FACHTRAAUT:    INBOUND SHIPMENT FEES
			AND PORDERP.ITMREF_0 NOT IN ('FACHDIV0001', 'FACHTRADRTD','FVENTRAAUT' ,'FACHTRAAUT')
			AND PORDERP.PRHFCY_0 = #{Site}
			AND T1.SEQ !=1
			AND PORDERP.CREDAT_0 >= CONVERT(datetime, #{DateFrom}, 120)
	ORDER BY PORDERP.PJT_0 ASC, 
			PORDERP.ITMREF_0 ASC,
			PORDERP.POHNUM_0 ASC
	</select>
	<select id="findDuplicatedRABySite" resultType="com.da.sageassistantserver.model.DirtyDataDuplicatedRA">
	WITH T1 AS (SELECT DISTINCT
            PRECEIPTD.PJT_0,
            PRECEIPTD.ITMREF_0, 
            PRECEIPTD.PTHNUM_0,
            PRECEIPTD.PTDLIN_0,
            PRECEIPTD.POHNUM_0,
            PRECEIPTD.POPLIN_0,
            PRECEIPTD.QTYSTU_0,
            PRECEIPTD.LINATIAMT_0, 
            PRECEIPTD.NETCUR_0,
            DENSE_RANK() OVER (PARTITION BY PRECEIPTD.ITMREF_0, PRECEIPTD.PJT_0 ORDER BY PRECEIPTD.ROWID ) AS SEQ
        FROM EXPLOIT.PRECEIPTD AS PRECEIPTD 
        WHERE PRECEIPTD.PRHFCY_0 = #{Site} 
              AND RIGHT(PRECEIPTD.PJT_0,4)!='0001'
              AND PRECEIPTD.CREDAT_0 >= CONVERT(datetime, #{DateFrom}, 120)
)

SELECT 
    T1.PJT_0 AS ProjectNO,
    T1.ITMREF_0 AS PN, 
    T1.PTHNUM_0 AS ReceiptNO,
    T1.PTDLIN_0 AS ReceiptLine,
    T1.POHNUM_0 AS PurchaseNO,
    T1.POPLIN_0 AS PurchaseLine,
    T1.QTYSTU_0 AS ReceiptQty,
    T1.LINATIAMT_0 AS ReceiptAmount, 
    T1.NETCUR_0 AS Currency
    FROM T1
WHERE T1.SEQ >1
    ORDER BY 
    T1.PJT_0 ASC,
    T1.PTHNUM_0 ASC
	</select>
</mapper>