<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sageassistantserver.dao.NoticeMapper">
  <!--Open L2 Cache under Names pace: 1 Hour-->
  <cache eviction="LRU" flushInterval="3600000" readOnly="true" size="1024" />
  <select id="findNewSOSince" resultType="com.da.sageassistantserver.model.TobeDelivery">
		SELECT DISTINCT IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			SORDERQ.SOHNUM_0 AS OrderNO,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN SORDER.SOHTYP_0 + '-Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN SORDER.SOHTYP_0 + '-InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN SORDER.SOHTYP_0 + '-ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN SORDER.SOHTYP_0 + '-Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN SORDER.SOHTYP_0 + '-Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN SORDER.SOHTYP_0 + '-Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN SORDER.SOHTYP_0 + '-Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN SORDER.SOHTYP_0 + '-SalesAdmin' 
			ELSE SORDER.SOHTYP_0 + '-UNK' END) AS OrderType,
			SORDERP.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.QTY_0 AS QTY,
			SORDERP.NETPRIATI_0 AS NetPrice,      --- change from NETPRI_0 to NETPRIATI_0
			SORDER.CUR_0 AS Currency,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDER.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS RequestDate,
			SORDERQ.YSOQ_DLIVP_0 AS PlanedDate
		FROM EXPLOIT.SORDERQ AS SORDERQ
		INNER JOIN EXPLOIT.SORDERP AS SORDERP
			ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
				AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
				AND SORDERQ.SALFCY_0 = #{Site}
				AND SORDERP.SALFCY_0 = #{Site}
				AND SORDERP.CREDATTIM_0 &gt;= CONVERT(datetime, #{Since}, 120)      --- add since
				AND SORDERQ.SOQSTA_0 != 3
		INNER JOIN EXPLOIT.SORDER SORDER
			ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			    AND SORDER.SALFCY_0 = #{Site}
		ORDER BY SORDERQ.DEMDLVDAT_0 ASC
  </select>
  <select id="findTobeDealWithOrderLine" resultType="com.da.sageassistantserver.model.TobeDealWithOrderLine">
		SELECT DISTINCT
			SORDERP.SOHNUM_0 AS SalesOrderNO,
			SORDER.SOHTYP_0 AS OrderType,
			SORDERP.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.QTY_0 AS QTY,
			SORDERP.SAU_0 AS Unit,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDERQ.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS DemandDate, IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN 'Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN 'InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN 'ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN 'Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN 'Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN 'Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN 'Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN 'SalesAdmin' 
			ELSE 'UNK' END) AS OrderCategory
		FROM EXPLOIT.SORDERP AS SORDERP
		INNER JOIN EXPLOIT.SORDERQ AS SORDERQ
			ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
				AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0  
				AND SORDERP.SALFCY_0 = #{Site}
				AND SORDERQ.SALFCY_0 = #{Site}
				AND SORDERQ.ORDDAT_0 &lt; DATEADD(day, #{DiffDays}, GETDATE())    ---- add diffDays
				AND SORDERQ.SOQSTA_0 != 3 
				AND SORDERQ.SOQSTA_0 != 8
		INNER JOIN EXPLOIT.SORDER AS SORDER
			ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0 
				AND SORDER.SALFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.MFGITM MFGITM
			ON MFGITM.PJT_0 = SORDERQ.YSOH_PJT_0
			   AND MFGITM.MFGFCY_0 = #{Site}
	    LEFT JOIN EXPLOIT.MFGITM MFGITM2
		    ON MFGITM2.PJT_0 = SORDERQ.YSOQ_PJTORI_0
			   AND MFGITM2.MFGFCY_0 = #{Site}
			   AND SORDERQ.YSOQ_PJTORI_0 !=''
		LEFT JOIN EXPLOIT.PORDERP PORDERP
				 ON PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0
				    AND PORDERP.PRHFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.PORDERP PORDERP2
				 ON PORDERP2.PJT_0 = SORDERQ.YSOQ_PJTORI_0
				    AND PORDERP2.PRHFCY_0 = #{Site}
					AND SORDERQ.YSOQ_PJTORI_0 !=''
		WHERE 
			MFGITM.MFGNUM_0 IS NULL
			AND PORDERP.POHNUM_0 IS NULL
			AND MFGITM2.MFGNUM_0 IS NULL
			AND PORDERP2.POHNUM_0 IS NULL
		ORDER BY SORDERQ.ORDDAT_0 ASC
  </select>
  <select id="findTobePurchaseBom" resultType="com.da.sageassistantserver.model.TobePurchaseBom">
		SELECT DISTINCT
			MFGITM.PJT_0 AS ProjectNO,
			SORDER.SOHTYP_0 AS OrderType,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			MFGITM.ITMREF_0 AS ForPN,
			MFGMAT.MFGNUM_0 AS WorkOrderNO,
			MFGMAT.BOMSEQ_0 AS BomSeq,
			MFGMAT.ITMREF_0 AS PN,
			CONCAT(ITMMASTER.ITMDES1_0,ITMMASTER.ITMDES2_0,ITMMASTER.ITMDES3_0) AS Description,
			MFGMAT.RETQTY_0 AS QTY,
			MFGMAT.BOMUOM_0 AS Unit,
			MFGMAT.SHTQTY_0 AS ShortQty,
			MFGMAT.ALLQTY_0 AS AllQty,
			MFGMAT.CREDAT_0 AS CreateDate
		FROM EXPLOIT.MFGMAT AS MFGMAT
		INNER JOIN EXPLOIT.MFGITM AS MFGITM
			   ON MFGITM.MFGNUM_0 = MFGMAT.MFGNUM_0
				  AND MFGITM.MFGLIN_0 = MFGMAT.MFGLIN_0
				  AND MFGMAT.SHTQTY_0 &gt; 0
				  AND MFGMAT.CREDATTIM_0 &lt; DATEADD(day, #{DiffDays}, GETDATE())    ---- add diffDays
				  AND MFGITM.MFGFCY_0 = #{Site}
				  AND MFGMAT.MFGFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.ITMMASTER AS ITMMASTER
			   ON MFGMAT.ITMREF_0 = ITMMASTER.ITMREF_0
		LEFT JOIN EXPLOIT.SORDERQ AS SORDERQ
			   ON SORDERQ.YSOH_PJT_0 = MFGITM.PJT_0
			   AND SORDERQ.SALFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.SORDER AS SORDER
			   ON SORDERQ.SOHNUM_0 = SORDER.SOHNUM_0
			   AND SORDER.SALFCY_0  = #{Site}
		LEFT JOIN EXPLOIT.PORDERP AS PORDERP
					ON PORDERP.PJT_0 = MFGITM.PJT_0 
					AND PORDERP.ITMREF_0 = MFGMAT.ITMREF_0
					AND PORDERP.PRHFCY_0 = #{Site}
		WHERE  PORDERP.POHNUM_0 IS NULL
  </select>
  <select id="findNoACkPO" resultType="com.da.sageassistantserver.model.TobeReceive">
		SELECT DISTINCT
			PORDERP.POHNUM_0 AS PurchaseNO,
			PORDERP.POPLIN_0 AS Line,
			PORDERP.PJT_0 AS ProjectNO,
			PORDERP.ITMREF_0 AS PN,
			PORDERP.ITMDES_0 AS Description,
			PORDER.CUR_0 AS Currency,
			PORDERP.NETPRI_0 AS NetPrice,
			PORDERQ.QTYPUU_0 AS QTY,
			PORDERQ.PUU_0 AS Unit,
			PORDER.BPSNUM_0 AS VendorCode,
			PORDER.BPRNAM_0 AS VendorName,
			PORDERQ.EXTRCPDAT_0 AS ExpectDate,
			PORDER.ORDDAT_0 AS OrderDate,
			PORDER.CREUSR_0 AS CreateUser
		FROM  EXPLOIT.PORDERP AS PORDERP
		INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
			ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
				AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
				AND PORDERQ.EXTRCPDAT_0='1753-01-01'           --- add no AckDate
				AND PORDERQ.PRHFCY_0 = #{Site}
				AND PORDERP.PRHFCY_0 = #{Site}
				AND PORDERQ.LINCLEFLG_0 != 2
		INNER JOIN EXPLOIT.PORDER AS PORDER
			ON PORDERP.POHNUM_0=PORDER.POHNUM_0
				AND PORDER.POHFCY_0 = #{Site}
		ORDER BY PORDERQ.EXTRCPDAT_0 ASC
  </select>
  <select id="findLongTimeNoReceive" resultType="com.da.sageassistantserver.model.TobeReceive">
		SELECT DISTINCT
			PORDERP.POHNUM_0 AS PurchaseNO,
			PORDERP.POPLIN_0 AS Line,
			PORDERP.PJT_0 AS ProjectNO,
			PORDERP.ITMREF_0 AS PN,
			PORDERP.ITMDES_0 AS Description,
			PORDER.CUR_0 AS Currency,
			PORDERP.NETPRI_0 AS NetPrice,
			PORDERQ.QTYPUU_0 AS QTY,
			PORDERQ.PUU_0 AS Unit,
			PORDER.BPSNUM_0 AS VendorCode,
			PORDER.BPRNAM_0 AS VendorName,
			PORDERQ.EXTRCPDAT_0 AS ExpectDate,
			PORDER.ORDDAT_0 AS OrderDate,
			PORDER.CREUSR_0 AS CreateUser
		FROM  EXPLOIT.PORDERP AS PORDERP
		INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
			ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
				AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
				AND PORDERQ.PRHFCY_0 = #{Site}
				AND PORDERP.PRHFCY_0 = #{Site}
				AND PORDERQ.LINCLEFLG_0 != 2
        AND PORDERQ.EXTRCPDAT_0 &lt;  GETDATE()   --- after ExpectDate
		INNER JOIN EXPLOIT.PORDER AS PORDER
			ON PORDERP.POHNUM_0=PORDER.POHNUM_0
			    AND PORDER.ORDDAT_0 &lt; DATEADD(day, #{DiffDays}, GETDATE())    --- add diffDays
				AND PORDER.POHFCY_0 = #{Site}
		ORDER BY PORDERQ.EXTRCPDAT_0 ASC
  </select>

  <select id="findLongTimeNoInvoice" resultType="com.da.sageassistantserver.model.TobeInvoice">
	SELECT
      PRECEIPTD.POHNUM_0 AS PurchaseNO,
      PRECEIPTD.POPLIN_0 AS PurchaseLine,
      PORDERP.CREDAT_0 AS PurchaseDate,
      PORDERP.CREUSR_0 AS Purchaser,
      PRECEIPTD.PJT_0 AS ProjectNO,
      PRECEIPTD.ITMREF_0 AS PN,
      PRECEIPTD.ITMDES1_0 + PRECEIPTD.ITMDES2_0 AS Description,
      PRECEIPTD.QTYSTU_0 AS Qty,
      PRECEIPTD.STU_0 AS Unit,
      PRECEIPTD.CPRPRI_0 AS Price,
      PRECEIPTD.CPRCUR_0 AS Currency,
      PRECEIPTD.PTHNUM_0 AS ReceiveNO,
      PRECEIPTD.PTDLIN_0 AS ReceiveLine,
      PRECEIPTD.RCPDAT_0 AS ReceiveDate,
      PRECEIPTD.CREUSR_0 AS Receiptor,
      PRECEIPT.BPSNUM_0 AS VendorCode,
      PRECEIPT.BPONAM_0 AS VendorName
    FROM EXPLOIT.PRECEIPTD PRECEIPTD
        INNER JOIN EXPLOIT.PRECEIPT PRECEIPT
          ON PRECEIPT.PTHNUM_0 = PRECEIPTD.PTHNUM_0
        INNER JOIN EXPLOIT.PORDERP PORDERP
          ON PRECEIPTD.POHNUM_0 =PORDERP.POHNUM_0 AND PRECEIPTD.POPLIN_0 = PORDERP.POPLIN_0
    WHERE PRECEIPTD.LININVFLG_0 = 1      
      AND PRECEIPTD.YPTD_NC_0 != 1                                      --- exclude manual marked nc
      AND PRECEIPTD.RCPDAT_0 &lt;=  DATEADD(DAY, #{DiffDays}, GETDATE())
      AND PRECEIPTD.PRHFCY_0 = #{Site}
    ORDER BY PRECEIPTD.RCPDAT_0 ASC
  </select>
  <select id="mixPOProjectBetweenZHUAndYSH" resultType="java.lang.String">
	WITH
	T0 AS (
		SELECT DISTINCT
		PORDERP.PJT_0
		FROM
		EXPLOIT.PORDERP AS PORDERP
		WHERE 
		PORDERP.PRHFCY_0 = 'ZHU'
	),
	T1 AS (
	SELECT DISTINCT
		PORDERP.PJT_0
		FROM
		EXPLOIT.PORDERP AS PORDERP
		WHERE 
		PORDERP.PRHFCY_0 = 'YSH'
		AND PORDERP.CREDATTIM_0 &gt; CONVERT(DATETIME, '2024-07-16', 120)
	),  
	T2 AS (
	SELECT DISTINCT
		T0.PJT_0
		FROM
		T0
		INNER JOIN T1
		ON T0.PJT_0 = T1.PJT_0 
	)

	SELECT * FROM T2
  </select>
  <select id="mixWOProjectBetweenZHUAndYSH" resultType="java.lang.String">
  WITH
	T0 AS (
		SELECT DISTINCT
		MFGITM.PJT_0 
		FROM
		EXPLOIT.MFGITM AS MFGITM
		WHERE 
		MFGITM.MFGFCY_0 = 'ZHU'
	),
	T1 AS (
	SELECT DISTINCT
		MFGITM.PJT_0
		FROM
		EXPLOIT.MFGITM AS MFGITM
		WHERE 
		MFGITM.MFGFCY_0 = 'YSH'
		AND MFGITM.CREDATTIM_0 &gt; CONVERT(DATETIME, '2024-07-01', 120)
	),  
	T2 AS (
	SELECT DISTINCT
		T0.PJT_0
		FROM
		T0
		INNER JOIN T1
		ON T0.PJT_0 = T1.PJT_0 
	)

	SELECT * FROM T2
  </select>
  <select id="findNewRASince" resultType="com.da.sageassistantserver.model.SuspectDuplicatedRA">
	SELECT DISTINCT
      PRECEIPTD.PJT_0 AS ProjectNO,
	  PRECEIPTD.ITMREF_0 AS PN,
	  PRECEIPTD.PTHNUM_0 AS ReceiptNO,
	  PRECEIPTD.PTDLIN_0 AS ReceiptLine,
	  PRECEIPTD.CREDAT_0 AS ReceiptDate,
	  PRECEIPTD.POHNUM_0 AS PurchaseNO,
	  PRECEIPTD.POPLIN_0 AS PurchaseLine,
	  PRECEIPTD.CREUSR_0 AS Receiptor,
	  PORDERP.CREDAT_0 AS PurchaseDate,
	  PORDERP.CREUSR_0 AS Purchaser,
	  PRECEIPTD.QTYSTU_0 AS ReceiptQty,
	  PRECEIPTD.LINATIAMT_0 AS ReceiptAmount, 
	  PRECEIPTD.NETCUR_0 AS Currency,
      DENSE_RANK() OVER (PARTITION BY PRECEIPTD.PJT_0, PRECEIPTD.ITMREF_0 ORDER BY PRECEIPTD.ROWID ) AS Seq,
      SUM(PRECEIPTD.QTYSTU_0) OVER (PARTITION BY PRECEIPTD.ITMREF_0, PRECEIPTD.PJT_0 ) AS TotalReceiptQty
    FROM  EXPLOIT.PRECEIPTD AS PRECEIPTD
      LEFT JOIN EXPLOIT.PORDERP AS PORDERP
         ON PRECEIPTD.POHNUM_0 = PORDERP.POHNUM_0 
		   AND PRECEIPTD.POPLIN_0 = PORDERP.POPLIN_0
    WHERE
          PRECEIPTD.PRHFCY_0 = #{Site}
      AND PRECEIPTD.CREDATTIM_0 &gt;= CONVERT(DATETIME, #{Since}, 120)      --- add Since
      AND PORDERP.PRHFCY_0 = #{Site}
  </select>
  <select id="findLongTimeNoDelivery" resultType="com.da.sageassistantserver.model.TobeDelivery">
	SELECT DISTINCT IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			SORDERQ.SOHNUM_0 AS OrderNO,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN SORDER.SOHTYP_0 + '-Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN SORDER.SOHTYP_0 + '-InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN SORDER.SOHTYP_0 + '-ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN SORDER.SOHTYP_0 + '-Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN SORDER.SOHTYP_0 + '-Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN SORDER.SOHTYP_0 + '-Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN SORDER.SOHTYP_0 + '-Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN SORDER.SOHTYP_0 + '-SalesAdmin' 
			ELSE SORDER.SOHTYP_0 + '-UNK' END) AS OrderType,
			SORDERP.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.QTY_0 AS QTY,
			SORDERP.NETPRI_0 AS NetPrice,
			SORDER.CUR_0 AS Currency,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDER.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS RequestDate,
			SORDERQ.YSOQ_DLIVP_0 AS PlanedDate
		FROM EXPLOIT.SORDERQ AS SORDERQ
		INNER JOIN EXPLOIT.SORDERP AS SORDERP
			ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
				AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
				AND SORDERQ.SALFCY_0 = #{Site}
				AND SORDERP.SALFCY_0 = #{Site}
				AND SORDERQ.SOQSTA_0 != 3
		INNER JOIN EXPLOIT.SORDER SORDER
			ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			    AND SORDER.SALFCY_0 = #{Site}
		WHERE
			SORDERQ.DEMDLVDAT_0 &lt; DATEADD(day, #{DiffDays}, GETDATE())    ---- add diffDays
		ORDER BY SORDERQ.DEMDLVDAT_0 ASC
  </select>
  <select id="findNOBomServiceOrder" resultType="com.da.sageassistantserver.model.TobeDealWithOrderLine">
			SELECT DISTINCT
			SORDERP.SOHNUM_0 AS SalesOrderNO,
			SORDER.SOHTYP_0 AS OrderType,
			SORDERP.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.QTY_0 AS QTY,
			SORDERP.SAU_0 AS Unit,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDERQ.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS DemandDate, IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN 'Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN 'InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN 'ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN 'Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN 'Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN 'Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN 'Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN 'SalesAdmin' 
			ELSE 'UNK' END) AS OrderCategory
		FROM EXPLOIT.SORDERP AS SORDERP
		INNER JOIN EXPLOIT.SORDERQ AS SORDERQ
			ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
				AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0  
				AND SORDERP.SALFCY_0 = #{Site}
				AND SORDERQ.SALFCY_0 = #{Site}
				AND SORDERQ.SOQSTA_0 != 3 
				AND SORDERQ.SOQSTA_0 != 8
		INNER JOIN EXPLOIT.SORDER AS SORDER
			ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0 
				AND SORDER.SALFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.MFGITM MFGITM
			ON MFGITM.PJT_0 = SORDERQ.YSOH_PJT_0
			   AND MFGITM.MFGFCY_0 = #{Site}
	    LEFT JOIN EXPLOIT.MFGITM MFGITM2
		    ON MFGITM2.PJT_0 = SORDERQ.YSOQ_PJTORI_0
			   AND MFGITM2.MFGFCY_0 = #{Site}
			   AND SORDERQ.YSOQ_PJTORI_0 !=''
		WHERE 
			MFGITM.MFGNUM_0 IS NULL
			AND MFGITM2.MFGNUM_0 IS NULL			
            AND SORDERP.SALFCY_0 &lt;&gt; 'HKG'                    ---- Not HKG
            AND SORDERQ.YSOQ_STA_0 =7                              ---- Services only
            AND SUBSTRING(SORDERQ.YSOH_PJT_0,2,4) = 'DSRP'         ---- DSRP only
		ORDER BY SORDERQ.ORDDAT_0 ASC
  </select>
  <select id="findTobeClosedWOBySite" resultType="com.da.sageassistantserver.model.TobeClosedWO">
	 	SELECT DISTINCT IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			SORDERQ.SOHNUM_0 AS OrderNO,
			MFGITM.MFGNUM_0 AS WorkOrderNO,
			(CASE WHEN MFGITM.MFGSTA_0 =1 THEN 'Firm' 
			WHEN MFGITM.MFGSTA_0 =2 THEN 'Planned'
			WHEN MFGITM.MFGSTA_0 =3 THEN 'Suggested'
			WHEN MFGITM.MFGSTA_0 =4 THEN 'Closed'
			ELSE 'UNK' END) AS WOStatus,
			(CASE WHEN MFGITM.ITMSTA_0 =1 THEN 'Pending' 
			WHEN MFGITM.ITMSTA_0 =2 THEN 'In Process'
			WHEN MFGITM.ITMSTA_0 =3 THEN 'Completed'
			WHEN MFGITM.ITMSTA_0 =4 THEN 'Cancelled'
			ELSE 'UNK' END) AS ProductionStatus,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN SORDER.SOHTYP_0 + '-Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN SORDER.SOHTYP_0 + '-InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN SORDER.SOHTYP_0 + '-ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN SORDER.SOHTYP_0 + '-Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN SORDER.SOHTYP_0 + '-Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN SORDER.SOHTYP_0 + '-Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN SORDER.SOHTYP_0 + '-Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN SORDER.SOHTYP_0 + '-SalesAdmin' 
			ELSE SORDER.SOHTYP_0 + '-UNK' END) AS OrderType,
			SORDERQ.ITMREF_0 AS PN,
			SORDERQ.QTY_0 AS Qty,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDER.ORDDAT_0 AS OrderDate
		FROM EXPLOIT.SORDERQ AS SORDERQ
		INNER JOIN EXPLOIT.SORDER SORDER
				ON SORDERQ.SOHNUM_0 = SORDER.SOHNUM_0
					AND SORDER.SALFCY_0 = #{Site}
					AND SORDERQ.SALFCY_0 = #{Site}
					AND SORDERQ.SOQSTA_0 = 3 
		INNER JOIN EXPLOIT.MFGITM
				ON (SORDERQ.YSOH_PJT_0 = MFGITM.PJT_0  OR SORDERQ.YSOQ_PJTORI_0 = MFGITM.PJT_0)
				    AND SORDERQ.YSOQ_PJTORI_0 != ''
					AND MFGITM.MFGFCY_0 = #{Site}
					AND MFGITM.ITMSTA_0 !=3
		ORDER BY SORDER.ORDDAT_0 DESC
  </select>

  <select id="findDeadPurchaseLine" resultType="com.da.sageassistantserver.model.DeadPurchaseLine">
	WITH 
	T0 AS (
		SELECT DISTINCT
		PRECEIPTD.POHNUM_0,
		PRECEIPTD.POPLIN_0
		FROM EXPLOIT.PRECEIPTD AS PRECEIPTD
		WHERE
		PRECEIPTD.PRHFCY_0 = #{Site}
	),
	T1 AS (
	SELECT DISTINCT
		PORDERP.POHNUM_0,
		PORDERP.POPLIN_0,
		PORDERP.PJT_0,
		PORDERP.CREDAT_0,
		PORDERP.CREUSR_0
	FROM EXPLOIT.PORDERP AS PORDERP
	WHERE
		PORDERP.PRHFCY_0 = #{Site}
		AND SUBSTRING(PORDERP.POHNUM_0,2,2) != 'CT'       --- exclude delivery
	),
	T2 AS (
	SELECT 
		T1.POHNUM_0,
		T1.POPLIN_0,
		T1.PJT_0,
		T1.CREDAT_0,
		T1.CREUSR_0
	FROM T1
	LEFT JOIN T0
	ON T1.POHNUM_0 = T0.POHNUM_0 AND T1.POPLIN_0 = T0.POPLIN_0
	WHERE T0.POHNUM_0 IS NULL  AND T0.POPLIN_0 IS NULL
	),
	T3 AS (
			SELECT DISTINCT IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
				SORDERQ.SOHNUM_0 AS OrderNO,
				SORDERQ.ITMREF_0 AS PN,
				SORDERQ.QTY_0 AS Qty,
				SORDER.ORDDAT_0 AS OrderDate
			FROM EXPLOIT.SORDERQ AS SORDERQ
			INNER JOIN EXPLOIT.SORDER SORDER
					ON SORDERQ.SOHNUM_0 = SORDER.SOHNUM_0
						AND SORDER.SALFCY_0 = #{Site}
						AND SORDERQ.SALFCY_0 = #{Site}
						AND SORDERQ.SOQSTA_0 = 3
						AND SORDER.ORDDAT_0 &gt; CONVERT(DATETIME, '2020-01-01', 120)     ---- limit to since 2020-01-01
	)

	SELECT DISTINCT
		T3.ProjectNO,
		T3.OrderNO,
		T3.PN,
		T3.Qty,
		T3.OrderDate, 
		T2.POHNUM_0 AS PurchaseNO,
		T2.POPLIN_0	AS PurchaseLine,
		T2.CREDAT_0 AS PurchaseDate,
		T2.CREUSR_0 AS Purchaser
	FROM T2
	INNER JOIN T3
	ON T2.PJT_0 = T3.ProjectNO
	ORDER BY T3.OrderDate DESC
  </select>
  <select id="findPreAnalysesProjectProfit" resultType="com.da.sageassistantserver.model.ProjectProfit">
	WITH T00 AS (
	  SELECT 
		  PORDERP.PJT_0
    FROM EXPLOIT.PORDERP PORDERP
    WHERE PORDERP.PRHFCY_0 = #{Site}
         AND (PORDERP.CREDATTIM_0 &gt; CONVERT(DATETIME, #{Since}, 120)
             OR PORDERP.UPDDATTIM_0 &gt; CONVERT(DATETIME, #{Since}, 120)
         )
	),
  T0 AS (
	SELECT 
		DISTINCT Iif(
		SORDERQ.YSOQ_PJTORI_0 = '', SORDERQ.YSOH_PJT_0, 
		SORDERQ.YSOQ_PJTORI_0
		) AS ProjectNO, 
		SORDERQ.SOHNUM_0, 
		SORDERP.ITMREF_0, 
		SORDERP.ITMDES_0,
    SORDERP.TSICOD_1, 
		SORDERQ.QTY_0, 
    SORDERP.CREDAT_0,
		SORDERP.NETPRIATI_0 * SORDERQ.QTY_0 AS ProjectPrice, 
		Sum(
		SORDERP.NETPRIATI_0 * SORDERQ.QTY_0
		) OVER (PARTITION BY SORDERP.SOHNUM_0) AS OrderPrice 
	FROM T00
    INNER JOIN EXPLOIT.SORDERQ AS SORDERQ ON (T00.PJT_0 = SORDERQ.YSOH_PJT_0 OR T00.PJT_0 = SORDERQ.YSOQ_PJTORI_0)
		INNER JOIN EXPLOIT.SORDERP AS SORDERP ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0 
		AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0 
		AND SORDERQ.SALFCY_0 = #{Site} 
		AND SORDERP.SALFCY_0 = #{Site} 
		AND SORDERP.NETPRIATI_0 &gt; 0
	), 
	T2 AS (
	SELECT 
		T0.ProjectNO, 
		T0.SOHNUM_0 AS OrderNO, 
		T0.ITMREF_0 AS PN, 
		T0.ITMDES_0 AS Description,
    T0.TSICOD_1 AS CategoryCode, 
		T0.QTY_0 AS QTY, 
    T0.CREDAT_0 AS OrderDate,
		SORDER.ORDINVATIL_0 AS OrderLocalPrice, 
		SORDER.ORDINVATIL_0 * (T0.ProjectPrice / T0.OrderPrice) AS ProjectLocalPrice, 
		T0.OrderPrice 
	FROM 
		T0 
		INNER JOIN EXPLOIT.SORDER SORDER ON T0.SOHNUM_0 = SORDER.SOHNUM_0
	), 
	T3 AS (
	SELECT 
		DISTINCT PORDERP.PJT_0, 
		Sum(PORDERQ.LINAMTCPR_0) OVER (PARTITION BY PORDERP.PJT_0) AS ProjectLocalCost 
	FROM T00
    INNER JOIN EXPLOIT.PORDERP AS PORDERP ON T00.PJT_0 = PORDERP.PJT_0
		INNER JOIN EXPLOIT.PORDERQ AS PORDERQ ON PORDERP.POHNUM_0 = PORDERQ.POHNUM_0 
		AND PORDERP.POPLIN_0 = PORDERQ.POPLIN_0 
	WHERE 
		PORDERQ.PRHFCY_0 = #{Site} 
		AND PORDERP.PRHFCY_0 = #{Site}
	) 
	SELECT 
    T2.*, 
		T3.ProjectLocalCost, 
		T2.ProjectLocalPrice - T3.ProjectLocalCost AS Profit 
	FROM 
		T2 
	LEFT JOIN T3 ON T2.ProjectNO = T3.PJT_0 
  WHERE 
    T2.ProjectLocalPrice - T3.ProjectLocalCost &lt; 0
	ORDER BY 
		T2.OrderDate DESC
  </select>
</mapper>