<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sageassistantserver.dao.UserFuncMapper">
 <!--Open L2 Cache under Names pace: 1 Hour-->
	<cache eviction="LRU" flushInterval="3600000" readOnly="true" size="102400"/>
    <select id="findSageFuncByAuth" resultType="java.lang.String">
		SELECT DISTINCT
			user_func.func_code 
		FROM user 
		INNER JOIN user_func
		ON user.id = user_func.user_id
			AND user.auth = #{Auth}
			AND user_func.enable = true
			AND user_func.func_system = 'SAGE'
    </select>
	 <select id="findSageFuncBySid" resultType="java.lang.String">
		SELECT DISTINCT
			user_func.func_code 
		FROM user_func
		WHERE user_func.user_id = #{Sid}
		      AND user_func.func_system = 'SAGE'
    </select>
</mapper>