<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sageassistantserver.dao.UserFuncMapper">
	<!--Open L2 Cache under Names pace: 1 Hour-->
	<cache eviction="LRU" flushInterval="3600000" readOnly="true" size="256"/>
	<select id="findSageActionsBySid" resultType="java.lang.String">
		SELECT DISTINCT 
			user_func.func_details 
		FROM user_func
		WHERE user_func.sage_id = #{Sid}
		      AND user_func.func_system = 'SAGE'			  
		      AND user_func.func_code = 'ACTIONS'
	</select>
</mapper>