<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.sage.assistant.mapper.PnMapper">
  <cache flushInterval="3600000" size="10000" />
  <sql id="TPN">
    SELECT
      NULL AS PN 
      <if test=' WithPN == "YES" or WithPN == "Y" '>
        UNION
        SELECT DISTINCT
          ITMMASTER.ITMREF_0 AS PN
        FROM
          EXPLOIT.ITMMASTER ITMMASTER
          LEFT JOIN EXPLOIT.ECCSTA ECCSTA ON ITMMASTER.ITMREF_0 = ECCSTA.ITMREF_0
        WHERE
          ITMMASTER.ITMREF_0 = #{PN}
          OR (
            ECCSTA.ITMREF_0 + '_' + ECCSTA.ECCVALMAJ_0 = #{PN}
          )
      </if> 
      <if test=' WithPNOG == "YES" or WithPNOG == "Y" '>
        UNION
        SELECT
          ITMMASTER.ITMREF_0 AS PN
        FROM
          EXPLOIT.ITMMASTER ITMMASTER
        WHERE
          LEFT (ITMMASTER.ITMREF_0, 4) = 'PNOG'
          AND ITMMASTER.ITMDES1_0 LIKE '%' + #{PN} + '%'
      </if> 
      <if test=' WithCSPN == "YES" or WithCSPN == "Y" '>
        UNION
        SELECT
          ITMMASTER.ITMREF_0 AS PN
        FROM
          EXPLOIT.ITMMASTER ITMMASTER
        WHERE
          LEFT (ITMMASTER.ITMREF_0, 4) = 'PNOG'
          AND ITMMASTER.ITMDES2_0 LIKE '%' + #{PN} + '%'
      </if> 
      <if test=' WithOptionPN == "YES" or WithOptionPN == "Y" '>
        UNION
        SELECT
          TRIM(ITMBPS.ITMREFBPS_0) AS PN
        FROM
          EXPLOIT.ITMBPS ITMBPS
        WHERE
          TRIM(ITMBPS.ITMREF_0) = #{PN}
        UNION
        SELECT
          ITMBPS.ITMREF_0 AS PN
        FROM
          EXPLOIT.ITMBPS ITMBPS
        WHERE
          TRIM(ITMBPS.ITMREFBPS_0) = #{PN}
        UNION
        SELECT
          ITMBPC.ITMREF_0 AS PN
        FROM
          EXPLOIT.ITMBPC ITMBPC
        WHERE
          TRIM(ITMBPC.ITMREFBPC_0) = #{PN}
        UNION
        SELECT
          TRIM(ITMBPC.ITMREFBPC_0) AS PN
        FROM
          EXPLOIT.ITMBPC ITMBPC
        WHERE
          TRIM(ITMBPC.ITMREF_0) = #{PN}
      </if>
  </sql>
  <select id="PN_FIND_BY_LIKE">
    SELECT DISTINCT
      ITMMASTER.ITMREF_0 AS PNROOT,
      ITMMASTER.ITMREF_0 AS PN,
      ITMMASTER.ITMDES1_0 + IIF (
        ITMMASTER.ITMDES2_0 = '',
        '',
        ' ' + ITMMASTER.ITMDES2_0
      ) + IIF (
        ITMMASTER.ITMDES3_0 = '',
        '',
        ' ' + ITMMASTER.ITMDES3_0
      ) AS Description
    FROM
      EXPLOIT.ITMMASTER ITMMASTER
    WHERE
      ITMMASTER.ITMREF_0 LIKE #{PN}
    ORDER BY
      ITMMASTER.ITMREF_0 ASC
    OFFSET
      #{offset} ROWS
    FETCH NEXT
      #{limit} ROWS ONLY
  </select>
  <select id="PN_OPTION_PN">
    -- Suppliers PN
    SELECT
      BPARTNER.BPRNUM_0 AS BPCode,
      BPARTNER.BPRSHO_0 AS BPName,
      ITMREFBPS_0 AS OptionPN,
      IIF (
        ITMDESBPS_0 != '',
        ITMDESBPS_0,
        ITMMASTER.ITMDES1_0 + IIF (
          ITMMASTER.ITMDES2_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES2_0
        ) + IIF (
          ITMMASTER.ITMDES3_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES3_0
        )
      ) AS Description
    FROM
      EXPLOIT.ITMBPS ITMBPS
      LEFT JOIN EXPLOIT.BPARTNER ON ITMBPS.BPSNUM_0 = BPARTNER.BPRNUM_0
      LEFT JOIN EXPLOIT.ITMMASTER ON ITMBPS.ITMREF_0 = ITMMASTER.ITMREF_0
    WHERE
      ITMBPS.ITMREF_0 = #{PN}
      AND ITMBPS.ITMREF_0 != ITMBPS.ITMREFBPS_0
      -- Suppliers PN2
    UNION
    SELECT
      '00000' AS BPCode,
      'DEDIENNE' AS BPName,
      ITMREFBPS_0 AS OptionPN,
      IIF (
        ITMDESBPS_0 != '',
        ITMDESBPS_0,
        ITMMASTER.ITMDES1_0 + IIF (
          ITMMASTER.ITMDES2_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES2_0
        ) + IIF (
          ITMMASTER.ITMDES3_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES3_0
        )
      ) AS Description
    FROM
      EXPLOIT.ITMBPS ITMBPS
      LEFT JOIN EXPLOIT.ITMMASTER ON ITMBPS.ITMREF_0 = ITMMASTER.ITMREF_0
    WHERE
      TRIM(ITMBPS.ITMREFBPS_0) = #{PN}
      AND ITMBPS.ITMREF_0 != ITMBPS.ITMREFBPS_0
      -- Customer PN
    UNION
    SELECT
      BPARTNER.BPRNUM_0 AS BPCode,
      BPARTNER.BPRSHO_0 AS BPName,
      ITMREFBPC_0 AS OptionPN,
      IIF (
        ITMDESBPC_0 != '',
        ITMDESBPC_0,
        ITMMASTER.ITMDES1_0 + IIF (
          ITMMASTER.ITMDES2_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES2_0
        ) + IIF (
          ITMMASTER.ITMDES3_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES3_0
        )
      ) AS Description
    FROM
      EXPLOIT.ITMBPC ITMBPC
      LEFT JOIN EXPLOIT.BPARTNER ON ITMBPC.BPCNUM_0 = BPARTNER.BPRNUM_0
      LEFT JOIN EXPLOIT.ITMMASTER ON ITMBPC.ITMREF_0 = ITMMASTER.ITMREF_0
    WHERE
      ITMBPC.ITMREF_0 = #{PN}
      AND ITMBPC.ITMREF_0 != ITMBPC.ITMREFBPC_0
      -- Customer PN2
    UNION
    SELECT
      '00000' AS BPCode,
      'DEDIENNE' AS BPName,
      ITMREFBPC_0 AS OptionPN,
      IIF (
        ITMDESBPC_0 != '',
        ITMDESBPC_0,
        ITMMASTER.ITMDES1_0 + IIF (
          ITMMASTER.ITMDES2_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES2_0
        ) + IIF (
          ITMMASTER.ITMDES3_0 = '',
          '',
          ' ' + ITMMASTER.ITMDES3_0
        )
      ) AS Description
    FROM
      EXPLOIT.ITMBPC ITMBPC
      LEFT JOIN EXPLOIT.ITMMASTER ON ITMBPC.ITMREF_0 = ITMMASTER.ITMREF_0
    WHERE
      TRIM(ITMBPC.ITMREFBPC_0) = #{PN}
      AND ITMBPC.ITMREF_0 != ITMBPC.ITMREFBPC_0 
      <if test=' WithPNOG == "YES" or WithPNOG == "Y" '>
        UNION
        SELECT
          '00000' AS BPCode,
          'DEDIENNE' AS BPName,
          ITMMASTER.ITMREF_0 AS OptionPN,
          ITMMASTER.ITMDES1_0 + IIF (
            ITMMASTER.ITMDES2_0 = '',
            '',
            ' ' + ITMMASTER.ITMDES2_0
          ) + IIF (
            ITMMASTER.ITMDES3_0 = '',
            '',
            ' ' + ITMMASTER.ITMDES3_0
          ) AS Description
        FROM
          EXPLOIT.ITMMASTER ITMMASTER
        WHERE
          LEFT (ITMMASTER.ITMREF_0, 4) = 'PNOG'
          AND ITMMASTER.ITMDES1_0 LIKE '%' + #{PN} + '%'
      </if> 
      <if test=' WithCSPN == "YES" or WithCSPN == "Y" '>
        UNION
        SELECT
          '00000' AS BPCode,
          'DEDIENNE' AS BPName,
          ITMMASTER.ITMREF_0 AS OptionPN,
          ITMMASTER.ITMDES1_0 + IIF (
            ITMMASTER.ITMDES2_0 = '',
            '',
            ' ' + ITMMASTER.ITMDES2_0
          ) + IIF (
            ITMMASTER.ITMDES3_0 = '',
            '',
            ' ' + ITMMASTER.ITMDES3_0
          ) AS Description
        FROM
          EXPLOIT.ITMMASTER ITMMASTER
        WHERE
          LEFT (ITMMASTER.ITMREF_0, 4) = 'PNOG'
          AND ITMMASTER.ITMDES2_0 LIKE '%' + #{PN} + '%'
      </if>
  </select>
  <select id="PN_ALL_IN_ROOT">
    WITH
      TPN AS (
      <include refid="TPN" />),
      T0 AS (
        SELECT
          ITMMASTER.ITMREF_0 AS PNROOT,
          IIF (
            ITMMASTER.ECCFLG_0 = 2,
            ITMMASTER.ITMREF_0 + '_' + ECCSTA.ECCVALMAJ_0,
            ITMMASTER.ITMREF_0
          ) AS PN,
          ITMMASTER.TSICOD_0 AS Cat,
          ECCSTA.ECCVALMAJ_0 AS Version,
          ITMMASTER.ITMDES1_0 + IIF (
            ITMMASTER.ITMDES2_0 = '',
            '',
            ' ' + ITMMASTER.ITMDES2_0
          ) + IIF (
            ITMMASTER.ITMDES3_0 = '',
            '',
            ' ' + ITMMASTER.ITMDES3_0
          ) AS Description,
          ITMMASTER.YITM_COMSTA_0 AS Comment,
          IIF (ECCSTA.EXNFLG_0 = 2, 5, ITMMASTER.ITMSTA_0) AS Status,
          ITMMASTER.CREDAT_0 AS CreateDate
        FROM
          TPN
          INNER JOIN EXPLOIT.ITMMASTER ON TPN.PN = ITMMASTER.ITMREF_0
          LEFT JOIN EXPLOIT.ECCSTA ECCSTA ON ITMMASTER.ITMREF_0 = ECCSTA.ITMREF_0
      )
    SELECT
      ROW_NUMBER() OVER (
        ORDER BY
          T0.Version DESC
      ) AS ID,
      T0.PNROOT,
      T0.PN,
      T0.Cat,
      T0.Version,
      T0.Description,
      T0.Comment,
      T0.Status,
      T0.CreateDate
    FROM
      T0
  </select>
  <select id="PN_INDUSTRIALIZATION">
    SELECT
      YITMINDUS.YCHKDWG_0 checkDrawing,
      APLSTD.LANMES_0 typo,
      YITMINDUS.YCOMPLEX_0 complex,
      YITMINDUS.YWAROUT_0 warnManufTool,
      YITMINDUS.YWARCE_0 warnCE,
      YITMINDUS.YWAREXTRA_0 warnExtraSize,
      YITMINDUS.YWARCAST_0 warnCasters,
      YITMINDUS.YWARLIFT_0 warnLifting,
      YITMINDUS.YCOMCOM_0 isComponents,
      YITMINDUS.YMATALU_0 rawAluminum,
      YITMINDUS.YMATSTL_0 rawSteel,
      YITMINDUS.YMATPLA_0 rawPlastic,
      YITMINDUS.YMATVAR_0 rawVariousMaterial,
      YITMINDUS.YMATSPE_0 rawSpecific,
      YITMINDUS.YTTHHTRT_0 heatTreatment,
      YITMINDUS.YMACGEA_0 machineGrinding,
      YITMINDUS.YMACGRI_0 machineGear,
      YITMINDUS.YTTSSTD_0 ttsStand,
      YITMINDUS.YTTSSPE_0 ttsSpecific,
      YITMINDUS.YTTSPAI_0 ttsPainting,
      YITMINDUS.YTTSPLC_0 ttsPlastic,
      YITMINDUS.YPCKSPB_0 specialPackingBox,
      YITMINDUS.YCONLOT_0 testLoad,
      YITMINDUS.YCONHYD_0 testHydraulic,
      YITMINDUS.YCONBAT_0 testBalancing,
      YITMINDUS.YCONVAR_0 testVarious,
      YITMINDUS.YCONCAL_0 controlCalibration,
      YITMINDUS.YCONSPE_0 controlSpecific,
      YITMINDUS.YCONGEO_0 control3D
    FROM
      EXPLOIT.YITMINDUS YITMINDUS
      LEFT JOIN EXPLOIT.APLSTD APLSTD ON APLSTD.LAN_0 = 'ENG'
      AND LANCHP_0 = '6557'
      AND APLSTD.LANNUM_0 = YITMINDUS.YFAMPN_0
    WHERE
      ITMREF_0 = #{PN}
  </select>
  <select id="CHECK_PN">
    SELECT
      TOP 1 ITMMASTER.ITMREF_0
    FROM
      ITMMASTER
    WHERE
      ITMMASTER.ITMREF_0 = #{PN}
  </select>
  <select id="OBSOLETE_PN" >
    SELECT
      IIF (
        ITMMASTER.ECCFLG_0 = 2,
        ITMMASTER.ITMREF_0 + '_' + ECCSTA.ECCVALMAJ_0,
        ITMMASTER.ITMREF_0
      ) AS PN,
      ITMMASTER.ITMDES1_0 + IIF (
        ITMMASTER.ITMDES2_0 = '',
        '',
        ' ' + ITMMASTER.ITMDES2_0
      ) + IIF (
        ITMMASTER.ITMDES3_0 = '',
        '',
        ' ' + ITMMASTER.ITMDES3_0
      ) AS Description,
      IIF (
        ECCSTA.EXNFLG_0 = 2,
        'Obsolete',
        (
          CASE
            WHEN ITMMASTER.ITMSTA_0 = 1 THEN 'Active'
            WHEN ITMMASTER.ITMSTA_0 = 2 THEN 'InDevelopment'
            WHEN ITMMASTER.ITMSTA_0 = 3 THEN 'OnShortage'
            WHEN ITMMASTER.ITMSTA_0 = 4 THEN 'NotRenewed'
            WHEN ITMMASTER.ITMSTA_0 = 5 THEN 'Obsolete'
            WHEN ITMMASTER.ITMSTA_0 = 6 THEN 'NotUsable'
            ELSE 'UNK'
          END
        )
      ) AS PNStatus,
      ITMMASTER.YITM_SUP_0 AS WC,
      IIF (
        SORDERQ.YSOQ_PJTORI_0 = '',
        SORDERQ.YSOH_PJT_0,
        SORDERQ.YSOQ_PJTORI_0
      ) AS ProjectNO,
      SORDER.BPCORD_0 AS CustomerCode,
      SORDER.BPCNAM_0 AS CustomerName
    FROM
      EXPLOIT.SORDERQ AS SORDERQ
      LEFT JOIN EXPLOIT.SORDER ON SORDERQ.SOHNUM_0 = SORDER.SOHNUM_0
      LEFT JOIN EXPLOIT.ECCSTA AS ECCSTA ON SORDERQ.ITMREF_0 = ECCSTA.ITMREF_0
      AND SORDERQ.ECCVALMAJ_0 = ECCSTA.ECCVALMAJ_0
      LEFT JOIN EXPLOIT.ITMMASTER AS ITMMASTER ON ITMMASTER.ITMREF_0 = SORDERQ.ITMREF_0
    WHERE
      SORDERQ.SOQSTA_0 != 3
      AND ITMMASTER.ITMSTA_0 != 1
      AND SORDERQ.SALFCY_0 = #{Site}
  </select>
</mapper>