<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sage.assistant.dao.QcMapper">
  <!-- Open  L2 Cache under Names pace: 1 Hour-->
  <cache eviction="LRU" flushInterval="3600000" readOnly="true" size="10240" />
  <select id="findQcNCSummary" resultType="com.da.sage.assistant.model.QcNCSummary">
  WITH 
  T0 AS (
     SELECT
     SALFCY_0,
     YRNCBPS_0,
     SRENUM_0,
     YSRE_DATNC_0,
     YSRE_DATNC_1,
     YSRE_DATNC_2,
     YSRE_DATNC_3,
     YSRE_DATNC_4,
     YSRE_DATNC_5,
     YSRE_DATNC_6,
     YSRE_DATNC_7,
     YSRE_DATNC_8,
     YSRE_DATNC_9,
     YSRE_DATNC_10,
     YSRE_DATNC_11,
     YSRE_CATNC_0,
     YSRE_CATNC_1,
     YSRE_CATNC_2,
     YSRE_CATNC_3,
     YSRE_CATNC_4,
     YSRE_CATNC_5,
     YSRE_CATNC_6,
     YSRE_CATNC_7,
     YSRE_CATNC_8,
     YSRE_CATNC_9,
     YSRE_CATNC_10,
     YSRE_CATNC_11
   FROM 
     EXPLOIT.SERREQUEST

   WHERE 1=1
     AND (
       YSRE_DATNC_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_1 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_2 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_3 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_4 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_5 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_6 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_7 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_8 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_9 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_10 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_11 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
     )

     <if test=' SupplierCode != "ALL" '>
     AND YRNCBPS_0 = #{SupplierCode}
     </if>
     
     <if test=' CustomerCode != "ALL" '>
     AND SREBPC_0 = #{CustomerCode}
     </if>

    <choose>
    <when test=' QcType ==  "ALL" '>
    --- ONLY RCL[Customer Claim], REN[NC entry], RNC[NC internal], RFN[NC final]
     AND SERREQUEST.YSRE_CATEG_0 IN ('RCL','RNC','REN','RFN')
    </when>
    <when test=' QcType ==  "CLAIM" '>
     AND SERREQUEST.YSRE_CATEG_0 = 'RCL'
    </when>
    <when test=' QcType ==  "ENTRY" '> 
     AND SERREQUEST.YSRE_CATEG_0 = 'REN'
      AND 1=2
    </when>
    <when test=' QcType ==  "INTERNAL" '>
     AND SERREQUEST.YSRE_CATEG_0 = 'RNC'
      AND 1=2
    </when>
    <when test=' QcType ==  "FINAL" '>
     AND SERREQUEST.YSRE_CATEG_0 = 'RFN'
    </when>
    <otherwise>
      AND 1 = 2
    </otherwise>
    </choose>

    <choose>
    <when test=' Site ==  "ALL" '>
    AND
    CASE 
      WHEN SALFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
    END !=
    CASE 
      WHEN SREBPC_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
    END
    </when>
    <when test=' Site ==  "CHINA" '>
      AND SALFCY_0 IN ('ZHU','HKG','YSH')
      AND SREBPC_0 NOT IN ('00870', '00871', '03167')
    </when>
    <otherwise>
      AND SALFCY_0 = #{Site}
    </otherwise>
    </choose>
  ),
  T1 AS ( 
  SELECT 
     ROW_NUMBER() OVER (ORDER BY SRENUM_0 ASC) AS ItemNO,
     SALFCY_0,
     YRNCBPS_0,
     SRENUM_0,
     NCDAT
  FROM T0
  UNPIVOT
      (
       NCDAT FOR NCDATCOL IN (
         YSRE_DATNC_0,
         YSRE_DATNC_1,
         YSRE_DATNC_2,
         YSRE_DATNC_3,
         YSRE_DATNC_4,
         YSRE_DATNC_5,
         YSRE_DATNC_6,
         YSRE_DATNC_7,
         YSRE_DATNC_8,
         YSRE_DATNC_9,
         YSRE_DATNC_10,
         YSRE_DATNC_11
         )
      ) P0
  ),
  T2 AS ( 
  SELECT 
     ROW_NUMBER() OVER (ORDER BY SRENUM_0 ASC) AS ItemNO,
     SALFCY_0,
     YRNCBPS_0,
     SRENUM_0,
     NCCAT
  FROM T0
  UNPIVOT
       (
       NCCAT FOR NCCATCOL IN (
         YSRE_CATNC_0,
         YSRE_CATNC_1,
         YSRE_CATNC_2,
         YSRE_CATNC_3,
         YSRE_CATNC_4,
         YSRE_CATNC_5,
         YSRE_CATNC_6,
         YSRE_CATNC_7,
         YSRE_CATNC_8,
         YSRE_CATNC_9,
         YSRE_CATNC_10,
         YSRE_CATNC_11
         )
      ) P1
  ),
  T5 AS (
      SELECT 
        ROW_NUMBER() OVER (ORDER BY T1.ItemNO ASC) AS ItemNO,
        T1.SALFCY_0,
        T1.YRNCBPS_0,
        T1.SRENUM_0,
        T1.NCDAT,
        T2.NCCAT
      FROM T1
      INNER JOIN T2
          ON T1.SRENUM_0 = T2.SRENUM_0 
             AND T1.ItemNO = T2.ItemNO
      WHERE
        T1.NCDAT != '1753-01-01'
        AND T2.NCCAT != ' '
  ),
T6 AS (
  SELECT DISTINCT
    T5.SALFCY_0 AS Site,
    <if test=' SupplierCode != "ALL" '>
    T5.YRNCBPS_0 AS SupplierCode,
    </if>
    T5.NCCAT,
    <choose>
      <when test=' Interval == "Month" and SupplierCode != "ALL" '>
      FORMAT(Year(T5.NCDAT), '0000') + '-' + FORMAT(MONTH(T5.NCDAT), '00') AS Target,
      COUNT(1) OVER(PARTITION BY T5.SALFCY_0, T5.YRNCBPS_0, T5.NCCAT, FORMAT(YEAR(T5.NCDAT), '0000') + '-' +  FORMAT(MONTH(T5.NCDAT), '00')) AS CatCnt,  
      COUNT(1) OVER(PARTITION BY FORMAT(YEAR(T5.NCDAT), '0000') + '-' +  FORMAT(MONTH(T5.NCDAT), '00')) AS AllCnt
      </when>
      <when test=' Interval == "Month" and SupplierCode == "ALL" '>
      FORMAT(Year(T5.NCDAT), '0000') + '-' + FORMAT(MONTH(T5.NCDAT), '00') AS Target,
      COUNT(1) OVER(PARTITION BY T5.SALFCY_0, T5.NCCAT, FORMAT(YEAR(T5.NCDAT), '0000') + '-' +  FORMAT(MONTH(T5.NCDAT), '00')) AS CatCnt,  
      COUNT(1) OVER(PARTITION BY FORMAT(YEAR(T5.NCDAT), '0000') + '-' +  FORMAT(MONTH(T5.NCDAT), '00')) AS AllCnt
      </when>
      <when test=' Interval == "Year" and SupplierCode != "ALL" '>
      FORMAT(Year(T5.NCDAT), '0000') AS Target,
      COUNT(1) OVER(PARTITION BY T5.SALFCY_0, T5.YRNCBPS_0, T5.NCCAT, FORMAT(YEAR(T5.NCDAT), '0000')) AS CatCnt,
      COUNT(1) OVER(PARTITION BY FORMAT(YEAR(T5.NCDAT), '0000')) AS AllCnt
      </when>
      <when test=' Interval == "Year" and SupplierCode == "ALL" '>
      FORMAT(Year(T5.NCDAT), '0000') AS Target,
      COUNT(1) OVER(PARTITION BY T5.SALFCY_0, T5.NCCAT, FORMAT(YEAR(T5.NCDAT), '0000')) AS CatCnt,
      COUNT(1) OVER(PARTITION BY FORMAT(YEAR(T5.NCDAT), '0000')) AS AllCnt
      </when>
      <otherwise>
      </otherwise>
    </choose>

  FROM T5
)

SELECT 
  T6.Site,
  <if test=' SupplierCode != "ALL" '>
  T6.SupplierCode,
  </if>
  CASE
      WHEN T6.NCCAT='C' THEN 'Components'
      WHEN T6.NCCAT='CP' THEN 'Design'
      WHEN T6.NCCAT='D' THEN 'Dimensional'
      WHEN T6.NCCAT='DOC' THEN 'Documentary'
      WHEN T6.NCCAT='E' THEN 'Packaging'
      WHEN T6.NCCAT='F' THEN 'Finition'
      WHEN T6.NCCAT='M' THEN 'Raw material'
      WHEN T6.NCCAT='MQ' THEN 'Marking'
      WHEN T6.NCCAT='S' THEN 'Welding'
      WHEN T6.NCCAT='T' THEN 'Test/Calibration'
      WHEN T6.NCCAT='TR' THEN 'Transport'
      WHEN T6.NCCAT='V' THEN 'Visual'
      ELSE 'UNK' 
  END AS NCCAT,
  T6.Target,
  T6.CatCnt,
  T6.AllCnt,
  ROUND(T6.CatCnt*100.0/T6.AllCnt,2) AS PCT 
FROM T6
ORDER BY
  T6.Site ASC,
  T6.Target ASC,
  T6.CatCnt DESC
  </select>
  <select id="findQcQPY" resultType="com.da.sage.assistant.model.QcQPY">
  WITH 
  T0 AS ( --- DELIVERY PROJECT
     SELECT DISTINCT
       SDELIVERYD.STOFCY_0, 
       SORDERQ.YSOH_PJT_0,
       SORDERQ.YSOQ_PJTORI_0,
       SDELIVERYD.SHIDAT_0,
       PORDER.BPSNUM_0
     FROM 
       EXPLOIT.SDELIVERYD SDELIVERYD
     INNER JOIN EXPLOIT.SORDERQ SORDERQ
       ON SDELIVERYD.SOHNUM_0 = SORDERQ.SOHNUM_0
          AND SDELIVERYD.SOPLIN_0 = SORDERQ.SOPLIN_0
     LEFT JOIN EXPLOIT.PORDERP PORDERP
       ON PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0
          OR PORDERP.PJT_0 = SORDERQ.YSOQ_PJTORI_0
     INNER JOIN PORDER
        ON PORDERP.POHNUM_0 = PORDER.POHNUM_0
     WHERE 1=1
        AND PORDERP.PJT_0 != ''
        <choose>
        <when test=' Site ==  "ALL" '>
        AND
        CASE 
          WHEN SDELIVERYD.STOFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
        END !=
        CASE 
          WHEN SDELIVERYD.BPCORD_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
        END
        </when>
        <when test=' Site ==  "CHINA" '>
          AND SDELIVERYD.STOFCY_0 IN ('ZHU','HKG','YSH')
          AND SDELIVERYD.BPCORD_0 NOT IN ('00870', '00871', '03167')
        </when>
        <otherwise>
          AND SDELIVERYD.STOFCY_0 = #{Site}
        </otherwise>
        </choose>
        AND SDELIVERYD.SHIDAT_0 BETWEEN CONVERT(datetime, #{DateFrom}, 120) AND CONVERT(datetime, #{DateTo}, 120)
  ),
  T1 AS ( ---  NC WITH DELIVERY SHIPDAT
  SELECT
     SERREQUEST.YORIPJT_0,
     T0.STOFCY_0,
     T0.SHIDAT_0,
     SERREQUEST.YRNCBPS_0,
     SERREQUEST.SRENUM_0,
     SERREQUEST.YSRE_DATNC_0,
     SERREQUEST.YSRE_DATNC_1,
     SERREQUEST.YSRE_DATNC_2,
     SERREQUEST.YSRE_DATNC_3,
     SERREQUEST.YSRE_DATNC_4,
     SERREQUEST.YSRE_DATNC_5,
     SERREQUEST.YSRE_DATNC_6,
     SERREQUEST.YSRE_DATNC_7,
     SERREQUEST.YSRE_DATNC_8,
     SERREQUEST.YSRE_DATNC_9,
     SERREQUEST.YSRE_DATNC_10,
     SERREQUEST.YSRE_DATNC_11
   FROM 
     T0 
   LEFT JOIN EXPLOIT.SERREQUEST SERREQUEST
     ON T0.STOFCY_0 = SERREQUEST.SALFCY_0
       AND T0.YSOH_PJT_0 = SERREQUEST.YORIPJT_0 
            OR T0.YSOQ_PJTORI_0 = SERREQUEST.YORIPJT_0
    WHERE 1=1
      <if test=' SupplierCode != "ALL" '>
      AND SERREQUEST.YRNCBPS_0 = #{SupplierCode}
      </if>
      
      <if test=' CustomerCode != "ALL" '>
      AND SERREQUEST.SREBPC_0 = #{CustomerCode}
      </if>
      
      <choose>
      <when test=' QcType ==  "ALL" '>
      --- ONLY RCL[Customer Claim], REN[NC entry], RNC[NC internal], RFN[NC final]
       AND SERREQUEST.YSRE_CATEG_0 IN ('RCL','RNC','REN','RFN')
      </when>
      <when test=' QcType ==  "CLAIM" '>
       AND SERREQUEST.YSRE_CATEG_0 = 'RCL'
      </when>
      <when test=' QcType ==  "ENTRY" '> 
       AND SERREQUEST.YSRE_CATEG_0 = 'REN'
        AND 1=2
      </when>
      <when test=' QcType ==  "INTERNAL" '>
       AND SERREQUEST.YSRE_CATEG_0 = 'RNC'
        AND 1=2
      </when>
      <when test=' QcType ==  "FINAL" '>
       AND SERREQUEST.YSRE_CATEG_0 = 'RFN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>
  ),
  T2 AS ( --- DELEVERY WITH NC UNPIVOT
  SELECT DISTINCT
     YORIPJT_0,
     STOFCY_0,
     SHIDAT_0,
     YRNCBPS_0,
     SRENUM_0,
     NCDAT
  FROM T1
  UNPIVOT
      (
       NCDAT FOR NCDATCOL IN (
         YSRE_DATNC_0,
         YSRE_DATNC_1,
         YSRE_DATNC_2,
         YSRE_DATNC_3,
         YSRE_DATNC_4,
         YSRE_DATNC_5,
         YSRE_DATNC_6,
         YSRE_DATNC_7,
         YSRE_DATNC_8,
         YSRE_DATNC_9,
         YSRE_DATNC_10,
         YSRE_DATNC_11
         )
      ) P0
  ),
  T3 AS (
     --- BPS WITH NCDAT  
     SELECT DISTINCT
        T2.YORIPJT_0 YSOH_PJT_0,
        T2.STOFCY_0,
        T2.SHIDAT_0,
        T2.YRNCBPS_0,
        T2.SRENUM_0,
        T2.NCDAT
      FROM T2
      WHERE
        T2.NCDAT != '1753-01-01'

     UNION
     
    --- BPS WITH NO NCDAT
    SELECT DISTINCT
        T0.YSOH_PJT_0,
        T0.STOFCY_0,
        T0.SHIDAT_0,
        T0.BPSNUM_0 AS YRNCBPS_0,
        T1.SRENUM_0,
        NULL AS NCDAT
      FROM T0
      LEFT JOIN T1
          ON T0.STOFCY_0 = T1.STOFCY_0
          AND ( T0.YSOH_PJT_0 = T1.YORIPJT_0
              OR T0.YSOQ_PJTORI_0 = T1.YORIPJT_0
          )
          AND T0.BPSNUM_0 = T1.YRNCBPS_0
      WHERE
        T1.SRENUM_0 IS NULL
  ),
  T4 AS ( --- DELEVERY WITH NCDATE COUNT
    SELECT DISTINCT
      T3.STOFCY_0,
      T3.YRNCBPS_0,
      T3.YSOH_PJT_0,
      T3.SHIDAT_0,
      COUNT(T3.NCDAT) OVER(PARTITION BY T3.STOFCY_0, T3.YSOH_PJT_0) AS NcCntByProject
    FROM T3
  ),
  T5 AS (
  SELECT DISTINCT
      T4.STOFCY_0 AS Site,
      <if test=' SupplierCode != "ALL" '>
      T4.YRNCBPS_0 AS SupplierCode,
      </if>
      --- T4.YSOH_PJT_0 AS ProjectNO,
      <choose>
      <when test=' Interval == "Month" and SupplierCode != "ALL" '>
      FORMAT(YEAR(T4.SHIDAT_0), '0000') + '-' + FORMAT(MONTH(T4.SHIDAT_0), '00') AS Target,
      T4.NcCntByProject,
      COUNT(1) OVER(PARTITION BY T4.STOFCY_0, T4.YRNCBPS_0, T4.NcCntByProject, FORMAT(YEAR(T4.SHIDAT_0), '0000') + '-' + FORMAT(MONTH(T4.SHIDAT_0), '00') ) AS SameCnt,
      COUNT(T4.YSOH_PJT_0) OVER(PARTITION BY T4.STOFCY_0, T4.YRNCBPS_0, FORMAT(YEAR(T4.SHIDAT_0), '0000') + '-' +  FORMAT(MONTH(T4.SHIDAT_0), '00')) AS AllCnt
      </when>
      <when test=' Interval == "Month" and SupplierCode == "ALL" '>
      FORMAT(YEAR(T4.SHIDAT_0), '0000') + '-' + FORMAT(MONTH(T4.SHIDAT_0), '00') AS Target,
      T4.NcCntByProject,
      COUNT(1) OVER(PARTITION BY T4.STOFCY_0, T4.NcCntByProject, FORMAT(YEAR(T4.SHIDAT_0), '0000') + '-' + FORMAT(MONTH(T4.SHIDAT_0), '00') ) AS SameCnt,
      COUNT(T4.YSOH_PJT_0) OVER(PARTITION BY T4.STOFCY_0, FORMAT(YEAR(T4.SHIDAT_0), '0000') + '-' +  FORMAT(MONTH(T4.SHIDAT_0), '00')) AS AllCnt
      </when>
      <when test=' Interval == "Year" and SupplierCode != "ALL" '>
      FORMAT(YEAR(T4.SHIDAT_0), '0000') AS Target,
      T4.NcCntByProject,
      COUNT(1) OVER(PARTITION BY T4.STOFCY_0, T3.YRNCBPS_0, T4.NcCntByProject, FORMAT(YEAR(T4.SHIDAT_0), '0000') ) AS SameCnt,
      COUNT(T4.YSOH_PJT_0) OVER(PARTITION BY T4.STOFCY_0, T4.YRNCBPS_0, FORMAT(YEAR(T4.SHIDAT_0), '0000') ) AS AllCnt
      </when>
      <when test=' Interval == "Year" and SupplierCode == "ALL" '>
      FORMAT(YEAR(T4.SHIDAT_0), '0000') AS Target,
      T4.NcCntByProject,
      COUNT(1) OVER(PARTITION BY T4.STOFCY_0, T4.NcCntByProject, FORMAT(YEAR(T4.SHIDAT_0), '0000') ) AS SameCnt,
      COUNT(T4.YSOH_PJT_0) OVER(PARTITION BY T4.STOFCY_0, FORMAT(YEAR(T4.SHIDAT_0), '0000') ) AS AllCnt
      </when>
      <otherwise>
      </otherwise>
    </choose>
    FROM T4
  )

  SELECT DISTINCT
    T5.Site,
    <if test=' SupplierCode != "ALL" '>
    T5.SupplierCode,
    </if>
    T5.Target,
    T5.NcCntByProject,
    T5.SameCnt,
    T5.AllCnt,
    ROUND(T5.SameCnt*100.0/T5.AllCnt, 0) AS PCT 
  FROM T5
  ORDER BY
    T5.Site ASC,
    T5.Target ASC,
    T5.NcCntByProject ASC 
  </select>
  <select id="findQcQPYTop" resultType="com.da.sage.assistant.model.QcQPYTop">
  WITH 
  T0 AS ( --- DELIVERY
   SELECT DISTINCT
     SDELIVERYD.SDHNUM_0,
     SDELIVERYD.SDDLIN_0,
     SDELIVERYD.STOFCY_0, 
     SDELIVERYD.YSOH_PJT_0,
     SDELIVERYD.SHIDAT_0,
     PORDER.BPSNUM_0
   FROM 
     EXPLOIT.SDELIVERYD SDELIVERYD
   INNER JOIN EXPLOIT.PORDERP PORDERP
     ON SDELIVERYD.YSOH_PJT_0 = PORDERP.PJT_0
        AND SDELIVERYD.STOFCY_0 = PORDERP.PRHFCY_0
        AND SDELIVERYD.SHIDAT_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
   INNER JOIN
     EXPLOIT.PORDER PORDER
       ON PORDERP.POHNUM_0 = PORDER.POHNUM_0
    WHERE 1=1
      <choose>
      <when test=' OrderType ==  "ALL" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND PORDER.ZPOH_CATEG_0  != 'TRP'
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '> 
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERP.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERP.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERP.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>
  ),
  T1 AS ( --- DELEVERY WITH NC
  SELECT
     T0.SDHNUM_0,
     T0.SDDLIN_0,
     T0.YSOH_PJT_0,
     T0.STOFCY_0,
     T0.SHIDAT_0,
     SERREQUEST.YRNCBPS_0,
     SERREQUEST.SRENUM_0,
     SERREQUEST.YSRE_DATNC_0,
     SERREQUEST.YSRE_DATNC_1,
     SERREQUEST.YSRE_DATNC_2,
     SERREQUEST.YSRE_DATNC_3,
     SERREQUEST.YSRE_DATNC_4,
     SERREQUEST.YSRE_DATNC_5,
     SERREQUEST.YSRE_DATNC_6,
     SERREQUEST.YSRE_DATNC_7,
     SERREQUEST.YSRE_DATNC_8,
     SERREQUEST.YSRE_DATNC_9,
     SERREQUEST.YSRE_DATNC_10,
     SERREQUEST.YSRE_DATNC_11
   FROM 
     T0 
   LEFT JOIN EXPLOIT.SERREQUEST SERREQUEST
     ON T0.STOFCY_0 = SERREQUEST.SALFCY_0
       AND T0.YSOH_PJT_0 = SERREQUEST.YORIPJT_0
       AND T0.BPSNUM_0 = SERREQUEST.YRNCBPS_0
      --- ONLY RCL[Customer Claim], REN[NC entry], RNC[NC internal], RFN[NC final]
       AND SERREQUEST.YSRE_CATEG_0 IN ('RCL','RNC','REN','RFN')
  ),
  T2 AS ( --- DELEVERY WITH NC UNPIVOT
  SELECT DISTINCT
     SDHNUM_0,
     SDDLIN_0,
     YSOH_PJT_0,
     STOFCY_0,
     SHIDAT_0,
     YRNCBPS_0,
     SRENUM_0,
     NCDAT
  FROM T1
  UNPIVOT
      (
       NCDAT FOR NCDATCOL IN (
         YSRE_DATNC_0,
         YSRE_DATNC_1,
         YSRE_DATNC_2,
         YSRE_DATNC_3,
         YSRE_DATNC_4,
         YSRE_DATNC_5,
         YSRE_DATNC_6,
         YSRE_DATNC_7,
         YSRE_DATNC_8,
         YSRE_DATNC_9,
         YSRE_DATNC_10,
         YSRE_DATNC_11
         )
      ) P0
  ),
  T3 AS ( --- DELEVERY WITH NCDAT
    --- BPS WITH NO NCDAT
    SELECT DISTINCT
        T0.SDHNUM_0,
        T0.SDDLIN_0,
        T0.YSOH_PJT_0,
        T0.STOFCY_0,
        T0.SHIDAT_0,
        T0.BPSNUM_0 AS YRNCBPS_0,
        T1.SRENUM_0,
        NULL AS NCDAT
      FROM T0
      LEFT JOIN T1
          ON T0.YSOH_PJT_0 = T1.YSOH_PJT_0
            AND T0.BPSNUM_0 = T1.YRNCBPS_0
            AND T0.STOFCY_0 = T1.STOFCY_0
      WHERE
        T1.SRENUM_0 IS NULL
        
     UNION

     --- BPS WITH TRUE NCDAT
     SELECT DISTINCT
        T2.SDHNUM_0,
        T2.SDDLIN_0,
        T2.YSOH_PJT_0,
        T2.STOFCY_0,
        T2.SHIDAT_0,
        T2.YRNCBPS_0,
        T2.SRENUM_0,
        T2.NCDAT
      FROM T2
      WHERE
        T2.NCDAT != '1753-01-01'
  ),
  T4 AS ( --- DELEVERY WITH NCDATE COUNT
    SELECT DISTINCT
      T3.SDHNUM_0,
      T3.SDDLIN_0,
      T3.STOFCY_0,
      T3.YRNCBPS_0,
      T3.YSOH_PJT_0,
      T3.SHIDAT_0,
      COUNT(T3.NCDAT) OVER(PARTITION BY T3.STOFCY_0,T3.YSOH_PJT_0, T3.YRNCBPS_0) AS NcCntByProject
    FROM T3
  ),
  T5 AS (
    SELECT DISTINCT
      T4.STOFCY_0 AS Site,
      T4.YRNCBPS_0 AS SupplierCode,
      T4.NcCntByProject,
      COUNT(1) OVER(PARTITION BY T4.STOFCY_0, T4.YRNCBPS_0, T4.NcCntByProject) AS SameCnt,
      COUNT(T4.YSOH_PJT_0) OVER(PARTITION BY T4.STOFCY_0, T4.YRNCBPS_0) AS ProjectCnt
    FROM T4
  )
        
SELECT
  T5.Site,
  T5.SupplierCode,
  BPSUPPLIER.BPSSHO_0 AS SupplierName,
  T5.NcCntByProject,
  T5.SameCnt,
  T5.ProjectCnt,
  ROUND(T5.SameCnt*100.0/T5.ProjectCnt, 0) AS QPY 
FROM T5
INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
     ON T5.SupplierCode = BPSUPPLIER.BPSNUM_0
WHERE 
  T5.NcCntByProject = 0
  AND T5.ProjectCnt > 3   ---- TO SKIP SOME NEW SUPPLIER
ORDER BY
  <choose>
    <when test=' Sort == "ASC" '>
     QPY ASC,
    </when>
    <when test=' Sort == "DESC" '>
      QPY DESC,
    </when>
    <otherwise>
      QPY DESC,
    </otherwise>
  </choose>
  T5.ProjectCnt DESC

  OFFSET 0 ROWS
  FETCH NEXT #{Limit} ROWS ONLY
  </select>

  <select id="findQcNCHistoryCnt" resultType="java.lang.Integer">
WITH 
  T0 AS (
  SELECT
     SALFCY_0 AS Site,
     YRNCBPS_0 AS SupplierCode,
     SRENUM_0 AS NCNo,
     YSREDAT_0 AS NCDate,
     YORIPJT_0 AS ProjectCode
   FROM 
     EXPLOIT.SERREQUEST
   WHERE 
      --- ONLY Customer Claim, NC entry, NC internal, NC final
      YSRE_CATEG_0 IN ('RCL','RNC','REN', 'RFN')

     <if test=' NCCatCode != "ALL" '>
     AND YSRE_CATEG_0 = #{NCCatCode}
     </if>

     <if test=' SupplierCode != "ALL" '>
     AND YRNCBPS_0 = #{SupplierCode}
     </if>
     AND (
       YSRE_DATNC_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_1 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_2 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_3 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_4 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_5 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_6 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_7 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_8 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_9 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_10 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_11 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
     )

    <choose>
    <when test=' Site == "ALL" '>
    </when>
    <when test=' Site == "CHINA" '>
      AND SALFCY_0 IN ('ZHU','HKG','YSH')
    </when>
    <otherwise>
      AND SALFCY_0 = #{Site}
    </otherwise>
    </choose>
  )

  SELECT 
    COUNT(1) AS Cnt
  FROM T0
  </select>
  <select id="findQcNCHistory" resultType="com.da.sage.assistant.model.QcNCHistory">
  WITH 
  T0 AS (
    SELECT 
       SALFCY_0 AS Site,
       YRNCBPS_0 AS SupplierCode,
       SRENUM_0 AS NCNo,
       YSREDAT_0 AS NCDate,
       YORIPJT_0 AS ProjectNO,
       SRETTR_0 AS PN,
       SREDES_0 AS Description,
       IIF(YSRE_DATNC_0 = '1753-01-01', NULL, YSRE_DATNC_0) AS NCDAT0,
       IIF(YSRE_DATNC_1 = '1753-01-01', NULL, YSRE_DATNC_1) AS NCDAT1,
       IIF(YSRE_DATNC_2 = '1753-01-01', NULL, YSRE_DATNC_2) AS NCDAT2,
       IIF(YSRE_DATNC_3 = '1753-01-01', NULL, YSRE_DATNC_3) AS NCDAT3,
       IIF(YSRE_DATNC_4 = '1753-01-01', NULL, YSRE_DATNC_4) AS NCDAT4,
       IIF(YSRE_DATNC_5 = '1753-01-01', NULL, YSRE_DATNC_5) AS NCDAT5,
       IIF(YSRE_DATNC_6 = '1753-01-01', NULL, YSRE_DATNC_6) AS NCDAT6,
       IIF(YSRE_DATNC_7 = '1753-01-01', NULL, YSRE_DATNC_7) AS NCDAT7,
       IIF(YSRE_DATNC_8 = '1753-01-01', NULL, YSRE_DATNC_8) AS NCDAT8,
       IIF(YSRE_DATNC_9 = '1753-01-01', NULL, YSRE_DATNC_9) AS NCDAT9,
       IIF(YSRE_DATNC_10 = '1753-01-01', NULL, YSRE_DATNC_10) AS NCDAT10,
       IIF(YSRE_DATNC_11 = '1753-01-01', NULL, YSRE_DATNC_11) AS NCDAT11,
       IIF(YSRE_CATNC_0 = ' ', NULL, YSRE_CATNC_0) AS NCCAT0,
       IIF(YSRE_CATNC_1 = ' ', NULL, YSRE_CATNC_1) AS NCCAT1,
       IIF(YSRE_CATNC_2 = ' ', NULL, YSRE_CATNC_2) AS NCCAT2,
       IIF(YSRE_CATNC_3 = ' ', NULL, YSRE_CATNC_3) AS NCCAT3,
       IIF(YSRE_CATNC_4 = ' ', NULL, YSRE_CATNC_4) AS NCCAT4,
       IIF(YSRE_CATNC_5 = ' ', NULL, YSRE_CATNC_5) AS NCCAT5,
       IIF(YSRE_CATNC_6 = ' ', NULL, YSRE_CATNC_6) AS NCCAT6,
       IIF(YSRE_CATNC_7 = ' ', NULL, YSRE_CATNC_7) AS NCCAT7,
       IIF(YSRE_CATNC_8 = ' ', NULL, YSRE_CATNC_8) AS NCCAT8,
       IIF(YSRE_CATNC_9 = ' ', NULL, YSRE_CATNC_9) AS NCCAT9,
       IIF(YSRE_CATNC_10 = ' ', NULL, YSRE_CATNC_10) AS NCCAT10,
       IIF(YSRE_CATNC_11 = ' ', NULL, YSRE_CATNC_11) AS NCCAT11,
       IIF(YSRE_TYPNC_0 = ' ', NULL, YSRE_TYPNC_0) AS NCTYP0,
       IIF(YSRE_TYPNC_1 = ' ', NULL, YSRE_TYPNC_1) AS NCTYP1,
       IIF(YSRE_TYPNC_2 = ' ', NULL, YSRE_TYPNC_2) AS NCTYP2,
       IIF(YSRE_TYPNC_3 = ' ', NULL, YSRE_TYPNC_3) AS NCTYP3,
       IIF(YSRE_TYPNC_4 = ' ', NULL, YSRE_TYPNC_4) AS NCTYP4,
       IIF(YSRE_TYPNC_5 = ' ', NULL, YSRE_TYPNC_5) AS NCTYP5,
       IIF(YSRE_TYPNC_6 = ' ', NULL, YSRE_TYPNC_6) AS NCTYP6,
       IIF(YSRE_TYPNC_7 = ' ', NULL, YSRE_TYPNC_7) AS NCTYP7,
       IIF(YSRE_TYPNC_8 = ' ', NULL, YSRE_TYPNC_8) AS NCTYP8,
       IIF(YSRE_TYPNC_9 = ' ', NULL, YSRE_TYPNC_9) AS NCTYP9,
       IIF(YSRE_TYPNC_10 = ' ', NULL, YSRE_TYPNC_10) AS NCTYP10,
       IIF(YSRE_TYPNC_11 = ' ', NULL, YSRE_TYPNC_11) AS NCTYP11,
       CASE
           WHEN YSRE_CRIT_0=2 THEN 'Minor'
           WHEN YSRE_CRIT_0=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT0,
       CASE
           WHEN YSRE_CRIT_1=2 THEN 'Minor'
           WHEN YSRE_CRIT_1=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT1,
       CASE
           WHEN YSRE_CRIT_2=2 THEN 'Minor'
           WHEN YSRE_CRIT_2=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT2,
       CASE
           WHEN YSRE_CRIT_3=2 THEN 'Minor'
           WHEN YSRE_CRIT_3=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT3,
       CASE
           WHEN YSRE_CRIT_4=2 THEN 'Minor'
           WHEN YSRE_CRIT_4=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT4,
       CASE
           WHEN YSRE_CRIT_5=2 THEN 'Minor'
           WHEN YSRE_CRIT_5=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT5,
       CASE
           WHEN YSRE_CRIT_6=2 THEN 'Minor'
           WHEN YSRE_CRIT_6=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT6,
       CASE
           WHEN YSRE_CRIT_7=2 THEN 'Minor'
           WHEN YSRE_CRIT_7=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT7,
       CASE
           WHEN YSRE_CRIT_8=2 THEN 'Minor'
           WHEN YSRE_CRIT_8=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT8,
       CASE
           WHEN YSRE_CRIT_9=2 THEN 'Minor'
           WHEN YSRE_CRIT_9=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT9,
       CASE
           WHEN YSRE_CRIT_10=2 THEN 'Minor'
           WHEN YSRE_CRIT_10=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT10,
       CASE
           WHEN YSRE_CRIT_11=2 THEN 'Minor'
           WHEN YSRE_CRIT_11=3 THEN 'Major'
           ELSE NULL
       END AS NCCRIT11,
       IIF(YSRE_DES_0 = ' ', NULL, YSRE_DES_0) AS NCDES0,
       IIF(YSRE_DES_1 = ' ', NULL, YSRE_DES_1) AS NCDES1,
       IIF(YSRE_DES_2 = ' ', NULL, YSRE_DES_2) AS NCDES2,
       IIF(YSRE_DES_3 = ' ', NULL, YSRE_DES_3) AS NCDES3,
       IIF(YSRE_DES_4 = ' ', NULL, YSRE_DES_4) AS NCDES4,
       IIF(YSRE_DES_5 = ' ', NULL, YSRE_DES_5) AS NCDES5,
       IIF(YSRE_DES_6 = ' ', NULL, YSRE_DES_6) AS NCDES6,
       IIF(YSRE_DES_7 = ' ', NULL, YSRE_DES_7) AS NCDES7,
       IIF(YSRE_DES_8 = ' ', NULL, YSRE_DES_8) AS NCDES8,
       IIF(YSRE_DES_9 = ' ', NULL, YSRE_DES_9) AS NCDES9,
       IIF(YSRE_DES_10 = ' ', NULL, YSRE_DES_10) AS NCDES10,
       IIF(YSRE_DES_11 = ' ', NULL, YSRE_DES_11) AS NCDES11,
       IIF(YSRE_USRNC_0 = ' ', NULL, YSRE_USRNC_0) AS CreatedBy0,
       IIF(YSRE_USRNC_1 = ' ', NULL, YSRE_USRNC_1) AS CreatedBy1,
       IIF(YSRE_USRNC_2 = ' ', NULL, YSRE_USRNC_2) AS CreatedBy2,
       IIF(YSRE_USRNC_3 = ' ', NULL, YSRE_USRNC_3) AS CreatedBy3,
       IIF(YSRE_USRNC_4 = ' ', NULL, YSRE_USRNC_4) AS CreatedBy4,
       IIF(YSRE_USRNC_5 = ' ', NULL, YSRE_USRNC_5) AS CreatedBy5,
       IIF(YSRE_USRNC_6 = ' ', NULL, YSRE_USRNC_6) AS CreatedBy6,
       IIF(YSRE_USRNC_7 = ' ', NULL, YSRE_USRNC_7) AS CreatedBy7,
       IIF(YSRE_USRNC_8 = ' ', NULL, YSRE_USRNC_8) AS CreatedBy8,
       IIF(YSRE_USRNC_9 = ' ', NULL, YSRE_USRNC_9) AS CreatedBy9,
       IIF(YSRE_USRNC_10 = ' ', NULL, YSRE_USRNC_10) AS CreatedBy10,
       IIF(YSRE_USRNC_11 = ' ', NULL, YSRE_USRNC_11) AS CreatedBy11
   FROM 
     EXPLOIT.SERREQUEST
   INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
      ON BPSUPPLIER.BPSNUM_0 = SERREQUEST.YRNCBPS_0
   WHERE
      --- ONLY RCL[Customer Claim], REN[NC entry], RNC[NC internal], RFN[NC final]
      YSRE_CATEG_0 IN ('RCL','RNC','REN','RFN')

     <if test=' NCCatCode != "ALL" '>
     AND YSRE_CATEG_0 = #{NCCatCode}
     </if>

     <if test=' SupplierCode != "ALL" '>
     AND YRNCBPS_0 = #{SupplierCode}
     </if>
     AND (
       YSRE_DATNC_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_1 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_2 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_3 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_4 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_5 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_6 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_7 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_8 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_9 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_10 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
       OR YSRE_DATNC_11 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
     )

    <choose>
    <when test=' Site == "ALL" '>
    </when>
    <when test=' Site == "CHINA" '>
      AND SALFCY_0 IN ('ZHU','HKG','YSH')
    </when>
    <otherwise>
      AND SALFCY_0 = #{Site}
    </otherwise>
    </choose>
  )

  SELECT DISTINCT
    ROW_NUMBER() OVER (ORDER BY NCDate ASC, NCNo ASC) AS ItemNO,
    * 
    FROM T0
  ORDER BY 
    ItemNO ASC

  OFFSET #{Offset} ROWS
  FETCH NEXT #{Limit} ROWS ONLY
  </select>
</mapper>