<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sage.assistant.dao.StackingMapper">
  <!-- Open  L2 Cache under Names pace: 5 Min-->
  <cache eviction="LRU" flushInterval="300000" readOnly="true" size="4096" />
  <select id="findTrackingSalesOrderLineCntBySite" resultType="java.lang.Integer">
  SELECT DISTINCT
    COUNT(1) AS CNT
  FROM EXPLOIT.SORDERQ AS SORDERQ
  INNER JOIN EXPLOIT.SORDERP AS SORDERP
    ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
      AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
      AND SORDERQ.SALFCY_0 = SORDERP.SALFCY_0
      <choose>
      <when test=' Site == "ALL" '>
      </when>
      <when test=' Site == "CHINA" '>
        AND SORDERP.SALFCY_0 IN ('ZHU','HKG','YSH')
      </when>
      <otherwise>
        AND SORDERP.SALFCY_0 = #{Site}
      </otherwise>
      </choose>
      <if test=" ProjectNO == '' ">
        AND SORDERQ.SOQSTA_0 != 3
      </if>
      <if test=" ProjectNO != '' ">
        AND (SORDERQ.YSOH_PJT_0 = #{ProjectNO} OR SORDERQ.YSOQ_PJTORI_0 = #{ProjectNO})
      </if>
  INNER JOIN EXPLOIT.SORDER SORDER
    ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
      AND SORDER.SALFCY_0 = SORDERP.SALFCY_0
    <if test=' OrderType == "NOR" '>
      AND SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 != 7
    </if>
    <if test=' OrderType == "OTHER" '>
      AND ( (SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 =7)  OR SORDER.SOHTYP_0 != 'NOR')
    </if>
    <if test=" CustomerCode != '' ">
      AND SORDER.BPCORD_0 = #{CustomerCode}
    </if>
    <if test=" VendorCode != '' ">
  INNER JOIN EXPLOIT.PORDERP PORDERP
    ON (PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0 OR PORDERP.PJT_0 = SORDERQ.YSOQ_PJTORI_0 )
        -- this to avoid empty ProjectNO
        AND SORDERQ.YSOQ_PJTORI_0 != ''
      AND PORDERP.PRHFCY_0 =SORDERP.SALFCY_0
  INNER JOIN EXPLOIT.PORDER AS PORDER
    ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      AND PORDER.POHFCY_0 = SORDERP.SALFCY_0
      AND PORDER.BPSNUM_0 = #{VendorCode}
    </if>
  </select>
  <select id="findTrackingSalesOrderLineBySite" resultType="com.da.sage.assistant.model.TrackingSalesOrderLine">
    SELECT DISTINCT
    <choose>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <otherwise>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </otherwise>
    </choose>
    SORDERQ.SALFCY_0 AS Site,
    SORDERQ.SOHNUM_0 AS OrderNO,
    SORDERQ.SOPLIN_0 AS OrderLine,
    SORDERQ.YSOH_PJT_0 AS ProjectNO,
    SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO,
    IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
      SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
      -- Empty OriProjectNO or Z0001 type OriProjectNO, using ProjectNO
      IIF(SORDERQ.YSOQ_PJTORI_0 != '' AND LEN(SORDERQ.YSOQ_PJTORI_0) !=5,
        SORDERQ.YSOQ_PJTORI_0,
        SORDERQ.YSOH_PJT_0
    )) AS TrackingNO,
    SORDERP.ITMREF_0 AS OrderPN,
		SORDERQ.ECCVALMAJ_0 AS OrderPNVersion,
		RTRIM(SORDERP.ITMDES1_0 + ' '+SORDERP.ITMDES2_0 + ' '+SORDERP.ITMDES3_0 + ' ') AS OrderPNDesc,
    CASE
      WHEN SORDERQ.YSOQ_STA_0 =1 THEN SORDER.SOHTYP_0 + '-Methods'
      WHEN SORDERQ.YSOQ_STA_0 =2 THEN SORDER.SOHTYP_0 + '-InteralProd'
      WHEN SORDERQ.YSOQ_STA_0 =3 THEN SORDER.SOHTYP_0 + '-ExternalProd'
      WHEN SORDERQ.YSOQ_STA_0 =4 THEN SORDER.SOHTYP_0 + '-Design'
      WHEN SORDERQ.YSOQ_STA_0 =5 THEN SORDER.SOHTYP_0 + '-Stock'
      WHEN SORDERQ.YSOQ_STA_0 =6 THEN SORDER.SOHTYP_0 + '-Trading'
      WHEN SORDERQ.YSOQ_STA_0 =7 THEN SORDER.SOHTYP_0 + '-Services'
      WHEN SORDERQ.YSOQ_STA_0 =8 THEN SORDER.SOHTYP_0 + '-SalesAdmin'
      ELSE SORDER.SOHTYP_0 + '-UNK' END AS OrderType,
    SORDERQ.YWR_STA_0 AS ProjectStatusCode,
		 CASE
      WHEN SORDERQ.YWR_STA_0 =0 THEN ''
			WHEN SORDERQ.YWR_STA_0 =1 THEN 'In hold'
      WHEN SORDERQ.YWR_STA_0 =2 THEN 'In progress'
      WHEN SORDERQ.YWR_STA_0 =3 THEN 'PO Cancelled'
      WHEN SORDERQ.YWR_STA_0 =4 THEN 'Delivered'
      WHEN SORDERQ.YWR_STA_0 =5 THEN 'Customer StandBy'
      ELSE 'UNK' END AS ProjectStatus,
    SORDERQ.YWR_CBLOC_0 AS ProjectBlockReasonCode,
		CASE
      WHEN SORDERQ.YWR_CBLOC_0 =0 THEN ''
			WHEN SORDERQ.YWR_CBLOC_0 =1 THEN '-'
      WHEN SORDERQ.YWR_CBLOC_0 =2 THEN 'AMENDMENT'
      WHEN SORDERQ.YWR_CBLOC_0 =3 THEN 'PAYMENT'
      WHEN SORDERQ.YWR_CBLOC_0 =4 THEN 'TECHNICAL DATA'
      WHEN SORDERQ.YWR_CBLOC_0 =5 THEN 'DEVIATION REQUEST'
      WHEN SORDERQ.YWR_CBLOC_0 =6 THEN 'QUALIFICATION'
      WHEN SORDERQ.YWR_CBLOC_0 =7 THEN 'WAITING TOOL'
      ELSE 'UNK' END AS ProjectBlockReason,
    RTRIM(LTRIM(SORDERQ.YWR_COM_0)) AS ProjectComment,
    RTRIM(LTRIM(SORDERQ.YWR_ACT_0)) AS ProjectAction,
		SORDERQ.YSOQ_MARK_0 AS Mark,
		SORDERQ.YSOQ_PAINT_0 AS Paint,
		IIF(ITMMASTER.YITM_OBETAT_2 = 2
		   OR ITMMASTER.YITM_OBETAT_15 = 2
			 ,'Y', '') AS RequireManual,
		IIF(ITMMASTER.YITM_OBETAT_6 = 2
			 OR ITMMASTER.YSAV_CHOIX_0 = 2
			 OR ITMMASTER.YSAV_CHOIX_1 = 2
			 OR ITMMASTER.YSAV_CHOIX_3 = 2
			 ,'Y', '') AS RequireTest,
		IIF(ITMMASTER.YITM_OBETAT_3 = 2
			 OR ITMMASTER.YSAV_CHOIX_0 = 2
			 OR ITMMASTER.YSAV_CHOIX_2 = 2
			 OR ITMMASTER.YSAV_CHOIX_4 = 2
			 OR ITMMASTER.YSAV_CHOIX_5 = 2
			 ,'Y', '') AS RequireCalibration,
    SORDERQ.QTY_0 AS OrderQty,
    SORDERP.NETPRIATI_0 AS OrderPrice,
    SORDER.CUR_0 AS OrderCurrency,
    SORDER.BPCORD_0 AS CustomerCode,
    SORDER.BPCNAM_0 AS CustomerName,
    SORDER.ORDDAT_0 AS OrderDate,
		CASE
      WHEN SORDER.PRITYP_0 = 1 THEN ''
			WHEN SORDER.PRITYP_0 = 2 THEN 'CRI'
      WHEN SORDER.PRITYP_0 = 3 THEN 'AOG'
      ELSE '' END AS Priority,
		SORDER.PRITYP_0 AS PriorityCode,
    SORDERQ.DEMDLVDAT_0 AS OrderRequestDate,
    SORDERQ.YSOQ_DLIVP_0 AS OrderPlanedDate,
    DATEDIFF(day, GETDATE(),SORDERQ.YSOQ_DLIVP_0) AS DaysLeft
  FROM EXPLOIT.SORDERQ AS SORDERQ
  INNER JOIN EXPLOIT.SORDERP AS SORDERP
    ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
      AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
      AND SORDERQ.SALFCY_0 = SORDERP.SALFCY_0
      <choose>
      <when test=' Site == "ALL" '>
      </when>
      <when test=' Site == "CHINA" '>
        AND SORDERP.SALFCY_0 IN ('ZHU','HKG','YSH')
      </when>
      <otherwise>
        AND SORDERP.SALFCY_0 = #{Site}
      </otherwise>
      </choose>
    <if test=" ProjectNO == '' ">
      AND SORDERQ.SOQSTA_0 != 3
    </if>
    <if test=" ProjectNO != '' ">
      AND (SORDERQ.YSOH_PJT_0 = #{ProjectNO} OR SORDERQ.YSOQ_PJTORI_0 = #{ProjectNO})
    </if>
  INNER JOIN EXPLOIT.SORDER SORDER
    ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
      AND SORDER.SALFCY_0 = SORDERP.SALFCY_0
    <if test=' OrderType == "NOR" '>
      AND SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 !=7
    </if>
    <if test=' OrderType == "OTHER" '>
      AND ( (SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 =7)  OR SORDER.SOHTYP_0 != 'NOR')
    </if>
    <if test=" CustomerCode != '' ">
      AND SORDER.BPCORD_0 = #{CustomerCode}
    </if>
    <if test=" VendorCode != '' ">
  INNER JOIN EXPLOIT.PORDERP PORDERP
    ON (PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0 OR PORDERP.PJT_0 = SORDERQ.YSOQ_PJTORI_0 )
        AND SORDERQ.YSOQ_PJTORI_0 != ''
      AND PORDERP.PRHFCY_0 = SORDERP.SALFCY_0
  INNER JOIN EXPLOIT.PORDER AS PORDER
    ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      AND PORDER.POHFCY_0 =  SORDERP.SALFCY_0
      AND PORDER.BPSNUM_0 = #{VendorCode}
    </if>
	INNER JOIN EXPLOIT.ITMMASTER ITMMASTER
	  ON ITMMASTER.ITMREF_0 = SORDERP.ITMREF_0
  ORDER BY ItemNO ASC
  OFFSET #{Offset} ROWS
  FETCH NEXT #{Limit} ROWS ONLY
  </select>
  <select id="findTrackingBOMLineBySite" resultType="com.da.sage.assistant.model.TrackingBOMLine">
  WITH T1 AS (
  SELECT DISTINCT
    -- Sales open items
    <choose>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <otherwise>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </otherwise>
    </choose>
    SORDERQ.SALFCY_0 AS Site,
    IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
      SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
      -- Empty OriProjectNO or Z0001 type OriProjectNO, using ProjectNO
      IIF(SORDERQ.YSOQ_PJTORI_0 != '' AND LEN(SORDERQ.YSOQ_PJTORI_0) !=5,
        SORDERQ.YSOQ_PJTORI_0,
        SORDERQ.YSOH_PJT_0
    )) AS TrackingNO,
    SORDERQ.YSOH_PJT_0 AS ProjectNO,
    SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
  FROM EXPLOIT.SORDERQ AS SORDERQ
  INNER JOIN EXPLOIT.SORDERP AS SORDERP
    ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
      AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
      AND SORDERQ.SALFCY_0 = SORDERP.SALFCY_0
      <choose>
      <when test=' Site == "ALL" '>
      </when>
      <when test=' Site == "CHINA" '>
        AND SORDERP.SALFCY_0 IN ('ZHU','HKG','YSH')
      </when>
      <otherwise>
        AND SORDERP.SALFCY_0 = #{Site}
      </otherwise>
      </choose>
    <if test=" ProjectNO == '' ">
      AND SORDERQ.SOQSTA_0 != 3
    </if>
    <if test=" ProjectNO != '' ">
      AND (SORDERQ.YSOH_PJT_0 = #{ProjectNO} OR SORDERQ.YSOQ_PJTORI_0 = #{ProjectNO})
    </if>
  INNER JOIN EXPLOIT.SORDER SORDER
    ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
      AND SORDER.SALFCY_0 = SORDERQ.SALFCY_0
    <if test=' OrderType == "NOR"  '>
      AND SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 !=7
    </if>
    <if test=' OrderType == "OTHER" '>
      AND ( (SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 =7)  OR SORDER.SOHTYP_0 != 'NOR')
    </if>
    <if test=" CustomerCode != '' ">
      AND SORDER.BPCORD_0 = #{CustomerCode}
    </if>
    <if test=" VendorCode != '' ">
  INNER JOIN EXPLOIT.PORDERP PORDERP
    ON (PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0 OR PORDERP.PJT_0 = SORDERQ.YSOQ_PJTORI_0 )
        AND SORDERQ.YSOQ_PJTORI_0 != ''
      AND PORDERP.PRHFCY_0 = SORDERQ.SALFCY_0
  INNER JOIN EXPLOIT.PORDER AS PORDER
    ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      AND PORDER.POHFCY_0 =  SORDERQ.SALFCY_0
      AND PORDER.BPSNUM_0 = #{VendorCode}
    </if>
    ORDER BY ItemNO  ASC
    OFFSET #{Offset} ROWS
    FETCH NEXT #{Limit} ROWS ONLY
  )

  SELECT DISTINCT
    T1.Site,
    MFGITM.PJT_0 AS BomProjectNO,
    MFGMAT.MFGNUM_0 AS WorkOrderNO,
    MFGMAT.BOMSEQ_0 AS BomLine,
    MFGMAT.ITMREF_0 AS BomPN,
		RTRIM(ITMMASTER.ITMDES1_0 + ' '+ITMMASTER.ITMDES2_0 + ' '+ITMMASTER.ITMDES3_0 + ' ') AS BomDesc,
		MFGMAT.RETQTY_0 AS BomQty,
    MFGMAT.BOMUOM_0 AS BomUnit,
    ISNULL(SUM(STOCK.QTYSTU_0) OVER (PARTITION BY STOCK.ITMREF_0,STOCK.STOFCY_0),0) AS AvaQty,
    MFGMAT.ALLQTY_0 AS AllQty,
    MFGMAT.SHTQTY_0 AS ShortQty,
    MFGMAT.CREUSR_0 AS Creator,
    MFGMAT.RETDAT_0 AS BomRequestDate
  FROM T1
  INNER JOIN EXPLOIT.MFGITM AS MFGITM
      ON (T1.ProjectNO = MFGITM.PJT_0 OR T1.OriProjectNO = MFGITM.PJT_0)
      AND MFGITM.PJT_0 != ''
      AND LEN(T1.OriProjectNO) != 5
			AND MFGITM.MFGFCY_0 = T1.Site
  LEFT JOIN EXPLOIT.MFGMAT AS MFGMAT
      ON MFGITM.MFGNUM_0 = MFGMAT.MFGNUM_0
        AND MFGITM.MFGLIN_0 = MFGMAT.MFGLIN_0
        AND MFGMAT.MFGFCY_0 = T1.Site
  LEFT JOIN EXPLOIT.ITMMASTER AS ITMMASTER
      ON MFGMAT.ITMREF_0 = ITMMASTER.ITMREF_0
  LEFT JOIN EXPLOIT.STOCK STOCK
      ON MFGMAT.ITMREF_0 = STOCK.ITMREF_0
      AND STOCK.STOFCY_0 = T1.Site
  ORDER BY MFGMAT.MFGNUM_0 ASC, MFGMAT.BOMSEQ_0 ASC
  </select>
  <select id="findTrackingPurchaseOrderLineBySite"
    resultType="com.da.sage.assistant.model.TrackingPurchaseOrderLine">
  WITH T1 AS (
  SELECT DISTINCT
    -- Sales open items
    <choose>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <otherwise>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </otherwise>
    </choose>
    SORDERQ.SALFCY_0 AS Site,
    IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
      SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
      -- Empty OriProjectNO or Z0001 type OriProjectNO, using ProjectNO
      IIF(SORDERQ.YSOQ_PJTORI_0 != '' AND LEN(SORDERQ.YSOQ_PJTORI_0) !=5,
        SORDERQ.YSOQ_PJTORI_0,
        SORDERQ.YSOH_PJT_0
    )) AS TrackingNO,
    SORDERQ.YSOH_PJT_0 AS ProjectNO,
    SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
  FROM EXPLOIT.SORDERQ AS SORDERQ
  INNER JOIN EXPLOIT.SORDERP AS SORDERP
    ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
      AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
      AND SORDERQ.SALFCY_0 = SORDERP.SALFCY_0
      <choose>
      <when test=' Site == "ALL" '>
      </when>
      <when test=' Site == "CHINA" '>
        AND SORDERP.SALFCY_0 IN ('ZHU','HKG','YSH')
      </when>
      <otherwise>
        AND SORDERP.SALFCY_0 = #{Site}
      </otherwise>
      </choose>
    <if test=" ProjectNO == '' ">
      AND SORDERQ.SOQSTA_0 != 3
    </if>
    <if test=" ProjectNO != '' ">
      AND (SORDERQ.YSOH_PJT_0 = #{ProjectNO} OR SORDERQ.YSOQ_PJTORI_0 = #{ProjectNO})
    </if>
  INNER JOIN EXPLOIT.SORDER SORDER
    ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
      AND SORDER.SALFCY_0 = SORDERQ.SALFCY_0
    <if test=' OrderType == "NOR"  '>
      AND SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 !=7
    </if>
    <if test=' OrderType == "OTHER" '>
      AND ( (SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 =7)  OR SORDER.SOHTYP_0 != 'NOR')
    </if>
    <if test=" CustomerCode != '' ">
      AND SORDER.BPCORD_0 = #{CustomerCode}
    </if>
    <if test=" VendorCode != '' ">
  INNER JOIN EXPLOIT.PORDERP PORDERP
    ON (PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0 OR PORDERP.PJT_0 = SORDERQ.YSOQ_PJTORI_0 )
        AND SORDERQ.YSOQ_PJTORI_0 != ''
      AND PORDERP.PRHFCY_0 = SORDERQ.SALFCY_0
  INNER JOIN EXPLOIT.PORDER AS PORDER
    ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      AND PORDER.POHFCY_0 =  SORDERQ.SALFCY_0
      AND PORDER.BPSNUM_0 = #{VendorCode}
    </if>
    ORDER BY ItemNO  ASC
    OFFSET #{Offset} ROWS
    FETCH NEXT #{Limit} ROWS ONLY
  )

  SELECT DISTINCT
      T1.Site,
      PORDERP.POHNUM_0 AS PurchaseNO,
      PORDERP.POPLIN_0 AS PurchaseLine,
      PORDERP.PJT_0 AS PurchaseProjectNO,
      PORDERP.ITMREF_0 AS PurchasePN,
      PORDERQ.ECCVALMAJ_0 AS PurchasePNVersion,
      PORDERP.ITMDES_0 AS PurchasePNDesc,
      PORDERQ.QTYPUU_0 AS PurchaseQty,
      PORDERQ.PUU_0 AS PurchaseUnit,
			PORDERQ.LINAMTCPR_0 AS PurchasePrice,
			PORDERQ.CPRCUR_0 AS LocalCurrency,
      PORDER.BPSNUM_0 AS VendorCode,
      PORDER.BPRNAM_0 AS VendorName,
      IIF(PORDERQ.LINOCNDAT_0='1753-01-01',PORDERQ.EXTRCPDAT_0, PORDERQ.LINOCNDAT_0) AS PurchaseAckDate,
      PORDERQ.EXTRCPDAT_0 AS PurchaseExpectDate,
      DATEDIFF(day, GETDATE(), IIF(PORDERQ.LINOCNDAT_0='1753-01-01',PORDERQ.EXTRCPDAT_0, PORDERQ.LINOCNDAT_0)) AS DaysLeft,
      RTRIM(LTRIM(PORDERQ.YFIABCOM_0)) AS PurchaseComment,
      PORDER.ORDDAT_0 AS PurchaseDate,
      PORDER.CREUSR_0 AS PurchaseUser
  FROM  T1
  INNER JOIN EXPLOIT.PORDERP AS PORDERP
    ON (PORDERP.PJT_0 = T1.ProjectNO OR PORDERP.PJT_0 = T1.OriProjectNO)
      AND PORDERP.PJT_0 != ''
      AND LEN(T1.OriProjectNO) != 5
      AND PORDERP.PRHFCY_0 = T1.Site
  INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
    ON PORDERP.POHNUM_0 = PORDERQ.POHNUM_0
      AND PORDERP.POPLIN_0 = PORDERQ.POPLIN_0
      AND PORDERQ.PRHFCY_0 = T1.Site
  INNER JOIN EXPLOIT.PORDER AS PORDER
    ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      AND PORDER.POHFCY_0 = T1.Site
  ORDER BY PORDERP.POHNUM_0 ASC, PORDERP.POPLIN_0 ASC
  </select>
  <select id="findTrackingReceiptLineBySite" resultType="com.da.sage.assistant.model.TrackingReceiptLine">
  WITH T1 AS (
  SELECT DISTINCT
    -- Sales open items
    <choose>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <otherwise>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </otherwise>
    </choose>
    SORDERQ.SALFCY_0 AS Site,
    IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
      SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
      -- Empty OriProjectNO or Z0001 type OriProjectNO, using ProjectNO
      IIF(SORDERQ.YSOQ_PJTORI_0 != '' AND LEN(SORDERQ.YSOQ_PJTORI_0) !=5,
        SORDERQ.YSOQ_PJTORI_0,
        SORDERQ.YSOH_PJT_0
    )) AS TrackingNO,
    SORDERQ.YSOH_PJT_0 AS ProjectNO,
    SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
  FROM EXPLOIT.SORDERQ AS SORDERQ
  INNER JOIN EXPLOIT.SORDERP AS SORDERP
    ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
      AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
      AND SORDERQ.SALFCY_0 = SORDERP.SALFCY_0
      <choose>
      <when test=' Site == "ALL" '>
      </when>
      <when test=' Site == "CHINA" '>
        AND SORDERP.SALFCY_0 IN ('ZHU','HKG','YSH')
      </when>
      <otherwise>
        AND SORDERP.SALFCY_0 = #{Site}
      </otherwise>
      </choose>
    <if test=" ProjectNO == '' ">
      AND SORDERQ.SOQSTA_0 != 3
    </if>
    <if test=" ProjectNO != '' ">
      AND (SORDERQ.YSOH_PJT_0 = #{ProjectNO} OR SORDERQ.YSOQ_PJTORI_0 = #{ProjectNO})
    </if>
  INNER JOIN EXPLOIT.SORDER SORDER
    ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
      AND SORDER.SALFCY_0 = SORDERQ.SALFCY_0
    <if test=' OrderType == "NOR"  '>
      AND SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 !=7
    </if>
    <if test=' OrderType == "OTHER" '>
      AND ( (SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 =7)  OR SORDER.SOHTYP_0 != 'NOR')
    </if>
    <if test=" CustomerCode != '' ">
      AND SORDER.BPCORD_0 = #{CustomerCode}
    </if>
    <if test=" VendorCode != '' ">
  INNER JOIN EXPLOIT.PORDERP PORDERP
    ON (PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0 OR PORDERP.PJT_0 = SORDERQ.YSOQ_PJTORI_0 )
        AND SORDERQ.YSOQ_PJTORI_0 != ''
      AND PORDERP.PRHFCY_0 = SORDERQ.SALFCY_0
  INNER JOIN EXPLOIT.PORDER AS PORDER
    ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      AND PORDER.POHFCY_0 =  SORDERQ.SALFCY_0
      AND PORDER.BPSNUM_0 = #{VendorCode}
    </if>
    ORDER BY ItemNO  ASC
    OFFSET #{Offset} ROWS
    FETCH NEXT #{Limit} ROWS ONLY
  )

  SELECT DISTINCT
    T1.Site,
    PRECEIPTD.PTHNUM_0 AS ReceiptNO,
    PRECEIPTD.PTDLIN_0 AS ReceiptLine,
    PRECEIPTD.POHNUM_0 AS ReceiptPurchaseNO,
    PRECEIPTD.POPLIN_0 AS ReceiptPurchaseLine,
    PRECEIPTD.RCPDAT_0 AS ReceiptDate,
    PRECEIPTD.CREUSR_0 AS Receiptor,
    PRECEIPTD.QTYSTU_0 AS ReceiptQty
  FROM  T1
  INNER JOIN EXPLOIT.PORDERP AS PORDERP
    ON (PORDERP.PJT_0 = T1.ProjectNO OR PORDERP.PJT_0 = T1.OriProjectNO)
      AND PORDERP.PJT_0 != ''
      AND LEN(T1.OriProjectNO) != 5
      AND PORDERP.PRHFCY_0 = T1.Site
  INNER JOIN EXPLOIT.PRECEIPTD AS PRECEIPTD
    ON PORDERP.POHNUM_0 = PRECEIPTD.POHNUM_0
      AND PORDERP.POPLIN_0 = PRECEIPTD.POPLIN_0
      AND PRECEIPTD.PRHFCY_0 = T1.Site
  ORDER BY PRECEIPTD.PTHNUM_0 ASC, PRECEIPTD.PTDLIN_0 ASC
  </select>
  <select id="findTrackingNCLineBySite" resultType="com.da.sage.assistant.model.TrackingNCLine">
  WITH T1 AS (
  SELECT DISTINCT
    -- Sales open items
    <choose>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy ==  "orderrequestdate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.DEMDLVDAT_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="ASC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </when>
      <when test=' OrderBy == "orderplaneddate"  and  Descending =="DESC" '>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 DESC, SORDERQ.ROWID DESC) AS ItemNO,
      </when>
      <otherwise>
      ROW_NUMBER() OVER (ORDER BY SORDER.PRITYP_0 DESC, SORDERQ.YSOQ_DLIVP_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
      </otherwise>
    </choose>
    SORDERQ.SALFCY_0 AS Site,
    IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
      SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
      -- Empty OriProjectNO or Z0001 type OriProjectNO, using ProjectNO
      IIF(SORDERQ.YSOQ_PJTORI_0 != '' AND LEN(SORDERQ.YSOQ_PJTORI_0) !=5,
        SORDERQ.YSOQ_PJTORI_0,
        SORDERQ.YSOH_PJT_0
    )) AS TrackingNO,
    SORDERQ.YSOH_PJT_0 AS ProjectNO,
    SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
  FROM EXPLOIT.SORDERQ AS SORDERQ
  INNER JOIN EXPLOIT.SORDERP AS SORDERP
    ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
      AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
      AND SORDERQ.SALFCY_0 = SORDERP.SALFCY_0
      <choose>
      <when test=' Site == "ALL" '>
      </when>
      <when test=' Site == "CHINA" '>
        AND SORDERP.SALFCY_0 IN ('ZHU','HKG','YSH')
      </when>
      <otherwise>
        AND SORDERP.SALFCY_0 = #{Site}
      </otherwise>
      </choose>
    <if test=" ProjectNO == '' ">
      AND SORDERQ.SOQSTA_0 != 3
    </if>
    <if test=" ProjectNO != '' ">
      AND (SORDERQ.YSOH_PJT_0 = #{ProjectNO} OR SORDERQ.YSOQ_PJTORI_0 = #{ProjectNO})
    </if>
  INNER JOIN EXPLOIT.SORDER SORDER
    ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
      AND SORDER.SALFCY_0 = SORDERQ.SALFCY_0
    <if test=' OrderType == "NOR"  '>
      AND SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 !=7
    </if>
    <if test=' OrderType == "OTHER" '>
      AND ( (SORDER.SOHTYP_0 = 'NOR' AND SORDERQ.YSOQ_STA_0 =7)  OR SORDER.SOHTYP_0 != 'NOR')
    </if>
    <if test=" CustomerCode != '' ">
      AND SORDER.BPCORD_0 = #{CustomerCode}
    </if>
    <if test=" VendorCode != '' ">
  INNER JOIN EXPLOIT.PORDERP PORDERP
    ON (PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0 OR PORDERP.PJT_0 = SORDERQ.YSOQ_PJTORI_0 )
        AND SORDERQ.YSOQ_PJTORI_0 != ''
      AND PORDERP.PRHFCY_0 = SORDERQ.SALFCY_0
  INNER JOIN EXPLOIT.PORDER AS PORDER
    ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      AND PORDER.POHFCY_0 =  SORDERQ.SALFCY_0
      AND PORDER.BPSNUM_0 = #{VendorCode}
    </if>
    ORDER BY ItemNO  ASC
    OFFSET #{Offset} ROWS
    FETCH NEXT #{Limit} ROWS ONLY
  )

  SELECT DISTINCT
    T1.Site,
    YORIPJT_0 AS ClaimProjectNO,
    SRENUM_0 AS ClaimNO,
    CREDAT_0 AS ClaimDate,
    SREDES_0 AS ClaimNote,
    YSRE_CRIT_0 ClaimNC0Cri,
    YSRE_CATNC_0 ClaimNC0Type, IIF(YSRE_DATNC_0='1753-01-01',null,YSRE_DATNC_0) AS ClaimNC0Date,
    YSRE_DES_0 AS ClaimNC0Desc,
    YSRE_CRIT_1 ClaimNC1Cri,
    YSRE_CATNC_1 ClaimNC1Type, IIF(YSRE_DATNC_1='1753-01-01',null,YSRE_DATNC_1) AS ClaimNC1Date,
    YSRE_DES_1 AS ClaimNC1Desc,
    YSRE_CRIT_2 ClaimNC2Cri,
    YSRE_CATNC_2 ClaimNC2Type, IIF(YSRE_DATNC_2='1753-01-01',null,YSRE_DATNC_2) AS ClaimNC2Date,
    YSRE_DES_2 AS ClaimNC2Desc,
    YSRE_CRIT_3 ClaimNC3Cri,
    YSRE_CATNC_3 ClaimNC3Type, IIF(YSRE_DATNC_3='1753-01-01',null,YSRE_DATNC_3) AS ClaimNC3Date,
    YSRE_DES_3 AS ClaimNC3Desc,
    YSRE_CRIT_4 ClaimNC4Cri,
    YSRE_CATNC_4 ClaimNC4Type, IIF(YSRE_DATNC_4='1753-01-01',null,YSRE_DATNC_4) AS ClaimNC4Date,
    YSRE_DES_4 AS ClaimNC4Desc,
    YSRE_CRIT_5 ClaimNC5Cri,
    YSRE_CATNC_5 ClaimNC5Type, IIF(YSRE_DATNC_5='1753-01-01',null,YSRE_DATNC_5) AS ClaimNC5Date,
    YSRE_DES_5 AS ClaimNC5Desc,
    YSRE_CRIT_6 ClaimNC6Cri,
    YSRE_CATNC_6 ClaimNC6Type, IIF(YSRE_DATNC_6='1753-01-01',null,YSRE_DATNC_6) AS ClaimNC6Date,
    YSRE_DES_6 AS ClaimNC6Desc,
    YSRE_CRIT_7 ClaimNC7Cri,
    YSRE_CATNC_7 ClaimNC7Type, IIF(YSRE_DATNC_7='1753-01-01',null,YSRE_DATNC_7) AS ClaimNC7Date,
    YSRE_DES_7 AS ClaimNC7Desc,
    YSRE_CRIT_8 ClaimNC8Cri,
    YSRE_CATNC_8 ClaimNC8Type, IIF(YSRE_DATNC_8='1753-01-01',null,YSRE_DATNC_8) AS ClaimNC8Date,
    YSRE_DES_8 AS ClaimNC8Desc,
    YSRE_CRIT_9 ClaimNC9Cri,
    YSRE_CATNC_9 ClaimNC9Type, IIF(YSRE_DATNC_9='1753-01-01',null,YSRE_DATNC_9) AS ClaimNC9Date,
    YSRE_DES_9 AS ClaimNC9Desc,
    YSRE_CRIT_10 ClaimNC10Cri,
    YSRE_CATNC_10 ClaimNC10Type, IIF(YSRE_DATNC_10='1753-01-01',null,YSRE_DATNC_10) AS ClaimNC10Date,
    YSRE_DES_10 AS ClaimNC10Desc,
    YSRE_CRIT_11 ClaimNC11Cri,
    YSRE_CATNC_11 ClaimNC11Type, IIF(YSRE_DATNC_11='1753-01-01',null,YSRE_DATNC_11) AS ClaimNC11Date,
    YSRE_DES_11 AS ClaimNC11Desc
  FROM T1
  INNER JOIN EXPLOIT.SERREQUEST SERREQUEST
    ON ( T1.ProjectNO = SERREQUEST.YORIPJT_0 OR T1.OriProjectNO = SERREQUEST.YORIPJT_0 )
        AND SERREQUEST.YORIPJT_0 != ''
      AND LEN(T1.OriProjectNO) != 5
      AND SERREQUEST.SALFCY_0 = T1.Site
  ORDER BY ClaimDate ASC
  </select>
</mapper>