<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.da.sage.assistant.mapper.StockMapper">
  <cache flushInterval="3600000" size="10000" />
  <sql id="STOCK_SITE_WHERE">
    <choose>
      <when test=' Site == "ALL" '></when> 
      <when test=' Site == "CHINA" '>
        AND STOCK.STOFCY_0 IN ('ZHU', 'HKG', 'YSH')
      </when> 
      <otherwise>
        AND STOCK.STOFCY_0 = #{Site}
      </otherwise>
    </choose>
  </sql>
  <select id="STOCK_INFO">
    WITH
      TPN AS (
      <include refid="com.da.sage.assistant.mapper.PnMapper.TPN" />),
      -- Non Repair return
      T00 AS (
        SELECT
          STOCK.STOFCY_0 AS StockSite,
          STOCK.ITMREF_0 AS PN,
          SUM(STOCK.QTYSTU_0) OVER (
            PARTITION BY
              STOCK.ITMREF_0,
              STOCK.STOFCY_0
          ) AS Qty,
          'NORM' AS Type
        FROM
          TPN
          INNER JOIN EXPLOIT.STOCK STOCK ON STOCK.ITMREF_0 = TPN.PN
        WHERE
          STOCK.STA_0 != 'RE' 
          <include refid="STOCK_SITE_WHERE" />
          -- 
          -- Repair return
        UNION
        SELECT
          STOCK.STOFCY_0 AS StockSite,
          STOCK.ITMREF_0 + '(RE)' AS PN,
          SUM(STOCK.QTYSTU_0) OVER (
            PARTITION BY
              STOCK.ITMREF_0,
              STOCK.STOFCY_0
          ) AS Qty,
          'RE' AS Type
        FROM
          TPN
          INNER JOIN EXPLOIT.STOCK STOCK ON TPN.PN = STOCK.ITMREF_0
        WHERE
          STOCK.STA_0 = 'RE' 
          <include refid="STOCK_SITE_WHERE" />
      )
    SELECT
      *
    FROM
      T00
    ORDER BY
      StockSite DESC,
      Type DESC
  </select>
</mapper>