<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sage.assistant.dao.SupplierMapper">
  <!-- Open  L2 Cache under Names pace: 1 Hour-->
  <cache eviction="LRU" flushInterval="3600000" readOnly="true" size="10240" />
  <select id="findSupplierByCodeOrName" resultType="com.da.sage.assistant.model.SupplierName">
  SELECT 
      BPARTNER.BPRNUM_0 AS SupplierCode,
      BPARTNER.BPRNAM_0+BPARTNER.BPRNAM_1 AS SupplierName
  FROM EXPLOIT.BPARTNER AS BPARTNER
    INNER JOIN EXPLOIT.BPSUPPLIER AS BPSUPPLIER
      ON BPARTNER.BPRNUM_0 = BPSUPPLIER.BPSNUM_0
  WHERE 
    BPARTNER.BPRNUM_0 LIKE #{SupplierCodeOrName} 
      OR BPARTNER.BPRNAM_0 LIKE #{SupplierCodeOrName}
      OR BPARTNER.BPRNAM_1 LIKE #{SupplierCodeOrName}
  ORDER BY BPRNUM_0 ASC
  OFFSET 0 ROWS
  FETCH NEXT #{Count} ROWS ONLY
  </select>
  <select id="findBusinessPartnerByCode" resultType="com.da.sage.assistant.model.BusinessPartnerName">
  SELECT 
        BPARTNER.BPRNUM_0 AS BPCode,
        BPARTNER.BPRNAM_0+BPARTNER.BPRNAM_1 AS BPName
    FROM EXPLOIT.BPARTNER AS BPARTNER
  WHERE 
    BPARTNER.BPRNUM_0 = #{BPCode}
  </select>
  <select id="findSupplierDetailsByCode" resultType="com.da.sage.assistant.model.SupplierDetails">
    SELECT 
      BPARTNER.BPRNUM_0 AS SupplierCode,
      BPARTNER.BPRNAM_0 AS SupplierName0,
      BPARTNER.BPRNAM_1 AS SupplierName1,
      BPADDRESS.BPAADDLIG_0 AS Address0,
      BPADDRESS.BPAADDLIG_1 AS Address1,
      BPADDRESS.POSCOD_0 AS PostCode,
      BPADDRESS.CRYNAM_0 AS Country,
      BPADDRESS.SAT_0 AS State,
      BPADDRESS.CTY_0 AS City,
      BPADDRESS.TEL_0 AS Tel0,
      BPADDRESS.TEL_1 AS Tel1,
      BPADDRESS.TEL_2 AS Tel2,
      BPADDRESS.TEL_3 AS Tel3,
      BPADDRESS.TEL_4 AS Tel4,
      BPADDRESS.FAX_0 AS Fax0,
      BPADDRESS.MOB_0 AS Mobile0,
      BPADDRESS.WEB_0 AS Email0,
      BPADDRESS.WEB_1 AS Email1,
      BPADDRESS.WEB_2 AS Email2,
      BPADDRESS.WEB_3 AS Email3,
      BPADDRESS.WEB_4 AS Email4,
      BPADDRESS.FCYWEB_0 AS WebSite
    FROM EXPLOIT.BPARTNER AS BPARTNER
       LEFT JOIN EXPLOIT.BPADDRESS AS BPADDRESS
         ON BPARTNER.BPRNUM_0 = BPADDRESS.BPANUM_0
    WHERE BPARTNER.BPRNUM_0 = #{SupplierCode}
  </select>
  <select id="findSupplierSumAmount" resultType="com.da.sage.assistant.model.SupplierSummaryAmountByTarget">
  WITH 
  T0 AS (
      SELECT DISTINCT 
          PORDERQ.PRHFCY_0 AS Site,
          PORDER.BPSNUM_0 AS SupplierCode,
          PORDERQ.POHNUM_0 AS PurchaseNO,
          PORDERQ.POPLIN_0 AS PurchaseLine,
          PORDER.ORDDAT_0 AS OrderDate,
          PORDERP.NETPRI_0 AS NetPrice,
          IIF(PORDERQ.LINAMT_0=0, 0, PORDERP.NETPRI_0 * ( PORDERQ.LINATIAMT_0 / PORDERQ.LINAMT_0)) AS NetPriceWithTax,
          PORDERQ.LINAMT_0 AS Amount,
          PORDERQ.LINATIAMT_0 AS AmountWithTax,
          PORDERQ.LINAMTCPR_0 AS LocalAmount,
          IIF(PORDERQ.LINAMT_0=0, 0, PORDERQ.LINAMTCPR_0 * ( PORDERQ.LINATIAMT_0 / PORDERQ.LINAMT_0)) AS LocalAmountWithTax,
          PORDERQ.NETCUR_0 AS Currency,
          PORDERQ.CPRCUR_0 AS LocalCurrency
      FROM  EXPLOIT.PORDERP AS PORDERP
          INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
              ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
                AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
          INNER JOIN EXPLOIT.PORDER AS PORDER
              ON PORDERP.POHNUM_0=PORDER.POHNUM_0
      WHERE 
      (PORDER.ORDDAT_0 BETWEEN CONVERT(DATETIME, #{DateFrom} ,120) AND CONVERT(DATETIME, #{DateTo} ,120))
      <if test=' SupplierCode != "ALL" '>
      AND PORDER.BPSNUM_0 = #{SupplierCode}
      </if>

      <choose>
      <when test=' OrderType ==  "ALL" '>
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP'
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP' AND PORDER.BPSNUM_0 = '27698'
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERQ.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>
    ),
    T1 AS (
        SELECT
          CURDEN_0 AS Sour,
          CUR_0 AS Dest,
          CHGRAT_0 AS Rate,
          CHGSTRDAT_0 AS StartDate,
          LEAD(CHGSTRDAT_0,1,GETDATE()) OVER (PARTITION BY CUR_0,CURDEN_0 ORDER BY CHGSTRDAT_0 ASC) AS EndDate
        FROM EXPLOIT.TABCHANGE
    ),
    T2 AS (
      SELECT 
        T0.Site,
        T0.SupplierCode,
        T0.PurchaseNO,
        T0.PurchaseLine,
        T0.OrderDate,
        IIF(T0.Currency = 'USD', T0.Amount, T0.Amount/T1.Rate) AS USD,
        IIF(T0.Currency = 'USD', T0.AmountWithTax, T0.AmountWithTax/T1.Rate) AS USDWithTax,
        T0.LocalAmount,
        T0.LocalAmountWithTax,
        T0.LocalCurrency
      FROM T0
      LEFT JOIN T1
          ON  T1.Dest = 'USD'
             AND T1.Sour = T0.Currency
             AND T0.OrderDate >= T1.StartDate 
             AND T1.EndDate > T0.OrderDate
   )
   
    SELECT DISTINCT
    T2.Site,
     <if test=' SupplierCode != "ALL" '>
    T2.SupplierCode,
     </if>
    <choose>
      <when test=' Interval == "Month" and SupplierCode != "ALL" '>
      FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00') AS Target,
      ROUND(SUM(T2.USD)                OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumUSDTarget,
      ROUND(SUM(T2.USDWithTax)         OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumUSDWithTaxTarget,
      ROUND(SUM(T2.LocalAmount)        OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumLocalTarget,
      ROUND(SUM(T2.LocalAmountWithTax) OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumLocalWithTaxTarget,
      </when>
      <when test=' Interval == "Month" and SupplierCode == "ALL" '>
      FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00') AS Target,
      ROUND(SUM(T2.USD)                OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumUSDTarget,
      ROUND(SUM(T2.USDWithTax)         OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumUSDWithTaxTarget,
      ROUND(SUM(T2.LocalAmount)        OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumLocalTarget,
      ROUND(SUM(T2.LocalAmountWithTax) OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000') + '-' + FORMAT(MONTH(T2.OrderDate), '00')), 0) AS SumLocalWithTaxTarget,
      </when>
      <when test=' Interval == "Year" and SupplierCode != "ALL" '>
      FORMAT(Year(T2.OrderDate), '0000') AS Target,
      ROUND(SUM(T2.USD)                OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumUSDTarget,
      ROUND(SUM(T2.USDWithTax)         OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumUSDWithTaxTarget,
      ROUND(SUM(T2.LocalAmount)        OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumLocalTarget,
      ROUND(SUM(T2.LocalAmountWithTax) OVER(PARTITION BY T2.Site, T2.SupplierCode, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumLocalWithTaxTarget,
      </when>
      <when test=' Interval == "Year" and SupplierCode == "ALL" '>
      FORMAT(Year(T2.OrderDate), '0000') AS Target,
      ROUND(SUM(T2.USD)                OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumUSDTarget,
      ROUND(SUM(T2.USDWithTax)         OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumUSDWithTaxTarget,
      ROUND(SUM(T2.LocalAmount)        OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumLocalTarget,
      ROUND(SUM(T2.LocalAmountWithTax) OVER(PARTITION BY T2.Site, FORMAT(Year(T2.OrderDate), '0000')),0) AS SumLocalWithTaxTarget,
      </when>
      <otherwise>
      </otherwise>
    </choose>
    T2.LocalCurrency
  FROM T2
  ORDER BY 
     Target ASC
  </select>
  <select id="findSupplierSumAmountTop" resultType="com.da.sage.assistant.model.SupplierSummaryAmountTop">
  WITH 
  T0 AS (
      SELECT DISTINCT 
          PORDERQ.PRHFCY_0 AS Site,
          PORDER.BPSNUM_0 AS SupplierCode,
          PORDERQ.POHNUM_0 AS PurchaseNO,
          PORDERQ.POPLIN_0 AS PurchaseLine,
          PORDER.ORDDAT_0 AS OrderDate,
          PORDERP.NETPRI_0 AS NetPrice,
          IIF(PORDERQ.LINAMT_0=0, 0, PORDERP.NETPRI_0 * ( PORDERQ.LINATIAMT_0 / PORDERQ.LINAMT_0)) AS NetPriceWithTax,
          PORDERQ.LINAMT_0 AS Amount,
          PORDERQ.LINATIAMT_0 AS AmountWithTax,
          PORDERQ.LINAMTCPR_0 AS LocalAmount,
          IIF(PORDERQ.LINAMT_0=0, 0, PORDERQ.LINAMTCPR_0 * ( PORDERQ.LINATIAMT_0 / PORDERQ.LINAMT_0)) AS LocalAmountWithTax,
          PORDERQ.NETCUR_0 AS Currency,
          PORDERQ.CPRCUR_0 AS LocalCurrency
      FROM  EXPLOIT.PORDERP AS PORDERP
          INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
              ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
                AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
          INNER JOIN EXPLOIT.PORDER AS PORDER
              ON PORDERP.POHNUM_0=PORDER.POHNUM_0
          INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
              ON BPSUPPLIER.BPSNUM_0 = PORDER.BPSNUM_0
      WHERE 
      (PORDER.ORDDAT_0 BETWEEN CONVERT(DATETIME, #{DateFrom} ,120) AND CONVERT(DATETIME, #{DateTo} ,120))
      <choose>
      <when test=' OrderType ==  "ALL" '>
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP'
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP' AND PORDER.BPSNUM_0 = '27698'
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERQ.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>
    ),
  T1 AS (
      SELECT
        CURDEN_0 AS Sour,
        CUR_0 AS Dest,
        CHGRAT_0 AS Rate,
        CHGSTRDAT_0 AS StartDate,
        LEAD(CHGSTRDAT_0,1,GETDATE()) OVER (PARTITION BY CUR_0,CURDEN_0 ORDER BY CHGSTRDAT_0 ASC) AS EndDate
      FROM EXPLOIT.TABCHANGE
  ),
  T2 AS (
    SELECT 
      T0.Site,
      T0.SupplierCode,
      T0.PurchaseNO,
      T0.PurchaseLine,
      T0.OrderDate,
      IIF(T0.Currency = 'USD', T0.Amount, T0.Amount/T1.Rate) AS USD,
      IIF(T0.Currency = 'USD', T0.AmountWithTax, T0.AmountWithTax/T1.Rate) AS USDWithTax,
      T0.LocalAmount,
      T0.LocalAmountWithTax,
      T0.LocalCurrency
    FROM T0
    LEFT JOIN T1
        ON  T1.Dest = 'USD'
           AND T1.Sour = T0.Currency
           AND T0.OrderDate >= T1.StartDate 
           AND T1.EndDate > T0.OrderDate
 )
 
  SELECT DISTINCT
    T2.Site,
    T2.SupplierCode,
    BPSUPPLIER.BPSSHO_0 AS SupplierName,
    ROUND(SUM(T2.USD)                     OVER(PARTITION BY T2.Site), 0) AS SiteAllUSD,
    ROUND(SUM(T2.USDWithTax)              OVER(PARTITION BY T2.Site), 0) AS SiteAllUSDWithTax,
    ROUND(SUM(T2.LocalAmount)             OVER(PARTITION BY T2.Site), 0) AS SiteAllLocal,
    ROUND(SUM(T2.LocalAmountWithTax)      OVER(PARTITION BY T2.Site), 0) AS SiteAllLocalWithTax,
    ROUND(SUM(T2.USD)                     OVER(PARTITION BY T2.Site, T2.SupplierCode), 0) AS SumUSD,
    ROUND(SUM(T2.USDWithTax)              OVER(PARTITION BY T2.Site, T2.SupplierCode), 0) AS SumUSDWithTax,
    ROUND(SUM(T2.LocalAmount)             OVER(PARTITION BY T2.Site, T2.SupplierCode), 0) AS SumLocal,
    ROUND(SUM(T2.LocalAmountWithTax)      OVER(PARTITION BY T2.Site, T2.SupplierCode), 0) AS SumLocalWithTax,
    T2.LocalCurrency
  FROM T2
  LEFT JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
       ON T2.SupplierCode = BPSUPPLIER.BPSNUM_0
  ORDER BY 
     SumUSD DESC  
  OFFSET 0 ROWS
  FETCH NEXT #{Limit} ROWS ONLY
  </select>
  <select id="findSupplierOTD" resultType="com.da.sage.assistant.model.SupplierOTD">
    WITH T0 AS (
      SELECT DISTINCT 
          PORDERQ.PRHFCY_0 AS Site,
          PORDER.BPSNUM_0 AS SupplierCode,
          PORDERP.POHNUM_0 AS PurchaseNO,
          PORDERP.POPLIN_0 AS PurchaseLine,
          PORDERQ.QTYSTU_0 AS Qty,
          PORDER.ORDDAT_0 AS OrderDate,
          IIF(PORDERQ.LINOCNDAT_0='1753-01-01',PORDERQ.EXTRCPDAT_0,PORDERQ.LINOCNDAT_0) AS AckDate,
          MAX(PRECEIPTD.PTHNUM_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveNO,
          MAX(PRECEIPTD.RCPDAT_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveDate,
          SUM(PRECEIPTD.QTYSTU_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS TotalReceiveQty
      FROM  EXPLOIT.PORDERP AS PORDERP
          INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
              ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
                AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
          INNER JOIN EXPLOIT.PORDER AS PORDER
              ON PORDERP.POHNUM_0=PORDER.POHNUM_0
          INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
              ON BPSUPPLIER.BPSNUM_0 = PORDER.BPSNUM_0
          LEFT JOIN EXPLOIT.PRECEIPTD AS PRECEIPTD
              ON PORDERP.POHNUM_0 = PRECEIPTD.POHNUM_0 AND PORDERP.POPLIN_0 = PRECEIPTD.POPLIN_0
      WHERE 1=1 
      <if test=' SupplierCode != "ALL" '>
      AND PORDER.BPSNUM_0 = #{SupplierCode}
      </if>

      <choose>
      <when test=' OrderType ==  "ALL" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND PORDER.ZPOH_CATEG_0  != 'TRP'
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '> 
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERQ.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>
    ), 
    T1 AS (
        SELECT 
        T0.*,
        IIF(T0.LastReceiveNO IS NULL, 
            DATEDIFF(day, T0.AckDate, getDate()),
            IIF(T0.TotalReceiveQty >= T0.Qty, 
                DATEDIFF(day, T0.AckDate, T0.LastReceiveDate) ,
                DATEDIFF(day, T0.AckDate, getDate())
            )
        )  AS DaysDelay
      FROM T0
      WHERE 
        T0.AckDate BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo}, 120)
    ),
    T2 AS (
      SELECT DISTINCT
      T1.Site,
      <if test=' SupplierCode != "ALL" '>
      T1.SupplierCode,
      </if>
      <choose>
      <when test=' Interval == "Month" and SupplierCode != "ALL" '>
      FORMAT(Year(T1.AckDate), '0000') + '-' + FORMAT(MONTH(T1.AckDate), '00') AS Target,
      COUNT(IIF(T1.DaysDelay>0, NULL, IIF(T1.TotalReceiveQty>=T1.Qty, 1, NULL))) OVER(PARTITION BY T1.Site, T1.SupplierCode, FORMAT(Year(T1.AckDate), '0000') + '-' +  FORMAT(MONTH(T1.AckDate), '00')) AS OTCnt,
      COUNT(1) OVER(PARTITION BY T1.Site, T1.SupplierCode, FORMAT(Year(T1.AckDate), '0000') + '-' +  FORMAT(MONTH(T1.AckDate), '00')) AS AllCnt
      </when>
      <when test=' Interval == "Month" and SupplierCode == "ALL" '>
      FORMAT(Year(T1.AckDate), '0000') + '-' + FORMAT(MONTH(T1.AckDate), '00') AS Target,
      COUNT(IIF(T1.DaysDelay>0, NULL, IIF(T1.TotalReceiveQty>=T1.Qty, 1, NULL))) OVER(PARTITION BY T1.Site, FORMAT(Year(T1.AckDate), '0000') + '-' +  FORMAT(MONTH(T1.AckDate), '00')) AS OTCnt,
      COUNT(1) OVER(PARTITION BY T1.Site, FORMAT(Year(T1.AckDate), '0000') + '-' +  FORMAT(MONTH(T1.AckDate), '00')) AS AllCnt
      </when>
      <when test=' Interval == "Year" and SupplierCode != "ALL" '>
      FORMAT(Year(T1.AckDate), '0000') AS Target,
      COUNT(IIF(T1.DaysDelay>0, NULL, IIF(T1.TotalReceiveQty>=T1.Qty, 1, NULL))) OVER(PARTITION BY T1.Site, T1.SupplierCode, FORMAT(Year(T1.AckDate), '0000')) AS OTCnt,
      COUNT(1) OVER(PARTITION BY T1.Site, T1.SupplierCode, FORMAT(Year(T1.AckDate), '0000')) AS AllCnt
      </when>
      <when test=' Interval == "Year" and SupplierCode == "ALL" '>
      FORMAT(Year(T1.AckDate), '0000') AS Target,
      COUNT(IIF(T1.DaysDelay>0, NULL, IIF(T1.TotalReceiveQty>=T1.Qty, 1, NULL))) OVER(PARTITION BY T1.Site, FORMAT(Year(T1.AckDate), '0000')) AS OTCnt,
      COUNT(1) OVER(PARTITION BY T1.Site, FORMAT(Year(T1.AckDate), '0000')) AS AllCnt
      </when>
      <otherwise>
      </otherwise>
    </choose>
    FROM T1
    )

    SELECT 
      T2.*,
      ROUND(T2.OTCnt*100.0/T2.AllCnt, 0) AS OTD 
    FROM T2
      ORDER BY 
        Target ASC
  </select>
  <select id="findSupplierDOD" resultType="com.da.sage.assistant.model.SupplierDOD">
    WITH T0 AS (
      SELECT DISTINCT 
          PORDERQ.PRHFCY_0 AS Site,
          PORDER.BPSNUM_0 AS SupplierCode,
          PORDERP.POHNUM_0 AS PurchaseNO,
          PORDERP.POPLIN_0 AS PurchaseLine,
          PORDERQ.QTYSTU_0 AS Qty,
          PORDER.ORDDAT_0 AS OrderDate,
          IIF(PORDERQ.LINOCNDAT_0='1753-01-01',PORDERQ.EXTRCPDAT_0,PORDERQ.LINOCNDAT_0) AS AckDate,
          MAX(PRECEIPTD.PTHNUM_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveNO,
          MAX(PRECEIPTD.RCPDAT_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveDate,
          SUM(PRECEIPTD.QTYSTU_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS TotalReceiveQty
      FROM  EXPLOIT.PORDERP AS PORDERP
          INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
              ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
                AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
          INNER JOIN EXPLOIT.PORDER AS PORDER
              ON PORDERP.POHNUM_0=PORDER.POHNUM_0
          INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
              ON BPSUPPLIER.BPSNUM_0 = PORDER.BPSNUM_0
          LEFT JOIN EXPLOIT.PRECEIPTD AS PRECEIPTD
              ON PORDERP.POHNUM_0 = PRECEIPTD.POHNUM_0 AND PORDERP.POPLIN_0 = PRECEIPTD.POPLIN_0
      WHERE 1=1 
      <if test=' SupplierCode != "ALL" '>
      AND PORDER.BPSNUM_0 = #{SupplierCode}
      </if>

      <choose>
      <when test=' OrderType ==  "ALL" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND PORDER.ZPOH_CATEG_0  != 'TRP'
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '> 
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERQ.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>
    ), 
    T1 AS (
        SELECT 
        T0.*,
        IIF(T0.LastReceiveNO IS NULL, 
            DATEDIFF(day, T0.AckDate, getDate()),
            IIF(T0.TotalReceiveQty >= T0.Qty, 
                DATEDIFF(day, T0.AckDate, T0.LastReceiveDate) ,
                DATEDIFF(day, T0.AckDate, getDate())
            )
        )  AS DaysDelay
      FROM T0
      WHERE 
        T0.LastReceiveDate BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo}, 120)
    )

      SELECT DISTINCT
      T1.Site,
      <if test=' SupplierCode != "ALL" '>
      T1.SupplierCode,
      </if>
      <choose>
      <when test=' SupplierCode == "ALL" '>
      T1.DaysDelay,
      COUNT(T1.DaysDelay) OVER(PARTITION BY T1.Site, T1.DaysDelay) AS Cnt
      </when>
      <when test=' SupplierCode != "ALL" '>
      T1.DaysDelay,
      COUNT(T1.DaysDelay) OVER(PARTITION BY T1.Site, T1.SupplierCode, T1.DaysDelay) AS Cnt
      </when>
      <otherwise>
      </otherwise>
    </choose>
    FROM T1
  
  </select>
  <select id="findSupplierOTDTop" resultType="com.da.sage.assistant.model.SupplierOTDTop">
    WITH T0 AS (
      SELECT DISTINCT 
          PORDERQ.PRHFCY_0 AS Site,
          PORDER.BPSNUM_0 AS SupplierCode,
          PORDERP.POHNUM_0 AS PurchaseNO,
          PORDERP.POPLIN_0 AS PurchaseLine,
          PORDERQ.QTYSTU_0 AS Qty,
          PORDER.ORDDAT_0 AS OrderDate,
          IIF(PORDERQ.LINOCNDAT_0='1753-01-01',PORDERQ.EXTRCPDAT_0,PORDERQ.LINOCNDAT_0) AS AckDate,
          MAX(PRECEIPTD.PTHNUM_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveNO,
          MAX(PRECEIPTD.RCPDAT_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveDate,
          SUM(PRECEIPTD.QTYSTU_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS TotalReceiveQty
      FROM  EXPLOIT.PORDERP AS PORDERP
          INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
              ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
                AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
          INNER JOIN EXPLOIT.PORDER AS PORDER
              ON PORDERP.POHNUM_0=PORDER.POHNUM_0
          INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
              ON BPSUPPLIER.BPSNUM_0 = PORDER.BPSNUM_0
          LEFT JOIN EXPLOIT.PRECEIPTD AS PRECEIPTD
              ON PORDERP.POHNUM_0 = PRECEIPTD.POHNUM_0 AND PORDERP.POPLIN_0 = PRECEIPTD.POPLIN_0
      WHERE 1=1 

      <choose>
      <when test=' OrderType ==  "ALL" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND PORDER.ZPOH_CATEG_0  != 'TRP'
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '> 
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        --- TRP is meaningless in OTD/DOD/QPY
        AND 1=2
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERQ.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>
    ), 
    T1 AS (
        SELECT 
        T0.*,
        IIF(T0.LastReceiveNO IS NULL, 
            DATEDIFF(day, T0.AckDate, getDate()),
            IIF(T0.TotalReceiveQty >= T0.Qty, 
                DATEDIFF(day, T0.AckDate, T0.LastReceiveDate) ,
                DATEDIFF(day, T0.AckDate, getDate())
            )
        )  AS DaysDelay
      FROM T0
      WHERE 
       T0.AckDate BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND IIF(CONVERT(datetime, #{DateTo}, 120) - GETDATE() > 0, GETDATE(), CONVERT(datetime, #{DateTo}, 120))
    ),
    T2 AS (
      SELECT DISTINCT
      T1.Site,
      T1.SupplierCode,
      COUNT(IIF(T1.DaysDelay>0, NULL, 1)) OVER(PARTITION BY T1.Site, T1.SupplierCode) AS OTCnt,
      COUNT(1) OVER(PARTITION BY T1.Site, T1.SupplierCode) AS AllCnt
    FROM T1
    )

    SELECT 
      T2.*,
      BPSUPPLIER.BPSSHO_0 AS SupplierName,
      ROUND(T2.OTCnt*100.0/T2.AllCnt, 0) AS OTD 
    FROM T2
    LEFT JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
         ON T2.SupplierCode = BPSUPPLIER.BPSNUM_0
    WHERE
      T2.AllCnt > 3 --- TO SKIP SOME NEW SUPPLIERS
    ORDER BY 
    <choose>
      <when test=' Sort == "ASC" '>
       OTD ASC
      </when>
      <when test=' Sort == "DESC" '>
        OTD DESC
      </when>
      <otherwise>
        OTD DESC
      </otherwise>
    </choose>
    OFFSET 0 ROWS
    FETCH NEXT #{Limit} ROWS ONLY
  </select>
  <select id="findSupplierOrdersCnt" resultType="java.lang.Integer">
  WITH T0 AS (
         SELECT DISTINCT 
          PORDERQ.PRHFCY_0 AS Site,
          PORDER.ZPOH_CATEG_0 AS OrderType,
          PORDER.BPSNUM_0 AS SupplierCode,
          PORDERP.POHNUM_0 AS PurchaseNO,
          PORDERP.POPLIN_0 AS PurchaseLine
      FROM  EXPLOIT.PORDERP AS PORDERP
          INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
            ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
                AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
          INNER JOIN EXPLOIT.PORDER AS PORDER
            ON PORDERP.POHNUM_0=PORDER.POHNUM_0
          INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
              ON BPSUPPLIER.BPSNUM_0 = PORDER.BPSNUM_0
      WHERE 1=1
      <choose>
      <when test=' DateType == "ORDER" '>
      AND PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </when>
      <when test=' DateType == "ACK" '>
      AND IIF(PORDERQ.LINOCNDAT_0 = '1753-01-01', PORDERQ.EXTRCPDAT_0, PORDERQ.LINOCNDAT_0) BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </when>
      <when test=' DateType == "EXPRCP" '>
      AND PORDERQ.EXTRCPDAT_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </when>
      <otherwise>
      AND PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </otherwise>
      </choose>
      
      <if test=' SupplierCode != "ALL" '>
      AND PORDER.BPSNUM_0 = #{SupplierCode}
      </if>

      <choose>
      <when test=' OrderType ==  "ALL" '>
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP'
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP' AND PORDER.BPSNUM_0 = '27698'
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERQ.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>

      <choose>
      <when test=" OrderStatus =='ALL' ">
      </when>
      <when test=" OrderStatus =='OPEN' ">
        AND PORDERQ.LINCLEFLG_0 = 1
      </when>
      <when test=" OrderStatus =='CLOSED' ">
        AND PORDERQ.LINCLEFLG_0 = 2
      </when>
      <otherwise>
        AND 1=2
      </otherwise>
      </choose>
  
    )

  SELECT 
   COUNT(1)
  FROM T0
  </select>
  <select id="findSupplierOrders" resultType="com.da.sage.assistant.model.SupplierOrder">
  WITH 
  T0 AS (
      SELECT DISTINCT
          PORDERQ.PRHFCY_0 AS Site,
          PORDER.ZPOH_CATEG_0 AS OrderType,
          PORDER.BPSNUM_0 AS SupplierCode,
          PORDER.BPRNAM_0 AS SupplierName,
          PORDERP.POHNUM_0 AS PurchaseNO,
          PORDERP.POPLIN_0 AS PurchaseLine,
          PORDERP.PJT_0 AS ProjectNO,
          PORDERP.ITMREF_0 AS PN,
          PORDERP.ITMDES_0 AS Description, 
          PORDERQ.QTYSTU_0 AS Qty,
          PORDERP.NETPRI_0 AS NetPrice,
          IIF(PORDERQ.LINAMT_0=0, 0, PORDERP.NETPRI_0 * ( PORDERQ.LINATIAMT_0 / PORDERQ.LINAMT_0)) AS NetPriceWithTax,
          PORDERQ.LINAMT_0 AS TotalAmount,
          PORDERQ.LINATIAMT_0 AS TotalAmountWithTax,
          PORDERQ.LINAMTCPR_0 AS TotalLocalAmount,
          IIF(PORDERQ.LINAMT_0=0, 0, PORDERQ.LINAMTCPR_0 * ( PORDERQ.LINATIAMT_0 / PORDERQ.LINAMT_0)) AS TotalLocalAmountWithTax,
          PORDERQ.NETCUR_0 AS Currency,
          PORDERQ.CPRCUR_0 AS LocalCurrency,
          PORDER.ORDDAT_0 AS OrderDate,
          IIF(PORDERQ.LINOCNDAT_0 = '1753-01-01', PORDERQ.EXTRCPDAT_0, PORDERQ.LINOCNDAT_0) AS AckDate,
          PORDERQ.EXTRCPDAT_0 AS ExpectDate,
          MAX(PRECEIPTD.PTHNUM_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveNO,
          MAX(PRECEIPTD.RCPDAT_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS LastReceiveDate,
          SUM(PRECEIPTD.QTYSTU_0) OVER(PARTITION BY PORDERP.POHNUM_0,PORDERP.POPLIN_0) AS TotalReceiveQty
      FROM  EXPLOIT.PORDERP AS PORDERP
          INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
              ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
                AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
          INNER JOIN EXPLOIT.PORDER AS PORDER
              ON PORDERP.POHNUM_0=PORDER.POHNUM_0
          INNER JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
              ON BPSUPPLIER.BPSNUM_0 = PORDER.BPSNUM_0
          LEFT JOIN EXPLOIT.PRECEIPTD AS PRECEIPTD
              ON PORDERP.POHNUM_0 = PRECEIPTD.POHNUM_0 AND PORDERP.POPLIN_0 = PRECEIPTD.POPLIN_0
      WHERE 1=1
      <choose>
      <when test=' DateType == "ORDER" '>
      AND PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </when>
      <when test=' DateType == "ACK" '>
      AND IIF(PORDERQ.LINOCNDAT_0 = '1753-01-01', PORDERQ.EXTRCPDAT_0, PORDERQ.LINOCNDAT_0) BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </when>
      <when test=' DateType == "EXPRCP" '>
      AND PORDERQ.EXTRCPDAT_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </when>
      <otherwise>
      AND PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom} ,120) AND CONVERT(datetime, #{DateTo} ,120)
      </otherwise>
      </choose>

      <if test=' SupplierCode != "ALL" '>
      AND PORDER.BPSNUM_0 = #{SupplierCode}
      </if>

      <if test=' SupplierCode != "ALL" '>
      AND PORDER.BPSNUM_0 = #{SupplierCode}
      </if>

      <choose>
      <when test=' OrderType ==  "ALL" '>
      </when>
      <when test=' OrderType ==  "NORM" '>
        AND PORDER.ZPOH_CATEG_0 IN ('FOU','D')
      </when>
      <when test=' OrderType ==  "TRP" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP'
      </when>
      <when test=' OrderType ==  "E_PORT" '>
        AND PORDER.ZPOH_CATEG_0  = 'TRP' AND PORDER.BPSNUM_0 = '27698'
      </when>
      <when test=' OrderType ==  "GENERAL" '>
        AND PORDER.ZPOH_CATEG_0 = 'GEN'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' SupplierType ==  "ALL" '>
      </when>
      <when test=' SupplierType ==  "DEDIENNE" '>
        AND PORDER.BETFCY_0 = '2'
      </when>
      <when test=' SupplierType ==  "GENERAL" '>
        AND PORDER.TSSCOD_0 = 'FG'
      </when>
      <when test=' SupplierType ==  "PRODOUCT" '>
        AND PORDER.TSSCOD_0 = 'PRD'
      </when>
      <when test=' SupplierType ==  "SUB_CONTRACTOR" '>
        AND PORDER.TSSCOD_0 = 'SST'
      </when>
      <when test=' SupplierType ==  "COMPONENT" '>
        AND PORDER.TSSCOD_0 = 'CPN'
      </when>
      <when test=' SupplierType ==  "SERVICES" '>
        AND PORDER.TSSCOD_0 = 'SER'
      </when>
      <when test=' SupplierType ==  "PACKING" '>
        AND PORDER.TSSCOD_0 = 'EMB'
      </when>
      <when test=' SupplierType ==  "RAW" '>
        AND PORDER.TSSCOD_0 = 'MP'
      </when>
      <when test=' SupplierType ==  "TRADING" '>
        AND PORDER.TSSCOD_0 = 'NEG'
      </when>
      <when test=' SupplierType ==  "FORWARDER" '>
        AND PORDER.TSSCOD_0 = 'TRSP'
      </when>
      <otherwise>
        AND 1 = 2
      </otherwise>
      </choose>

      <choose>
      <when test=' Site ==  "ALL" '>
      AND
      CASE 
        WHEN PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH') THEN 'CHINA' ELSE 'OTHER-SITE'
      END !=
      CASE 
        WHEN PORDER.BPSNUM_0 IN ('00870', '00871', '03167') THEN 'CHINA' ELSE 'OTHER-CUSTOMER'
      END
      </when>
      <when test=' Site ==  "CHINA" '>
        AND PORDERQ.PRHFCY_0 IN ('ZHU','HKG','YSH')
        AND PORDER.BPSNUM_0 NOT IN ('00870', '00871', '03167')
      </when>
      <otherwise>
        AND PORDERQ.PRHFCY_0 = #{Site}
      </otherwise>
      </choose>
    )

  SELECT DISTINCT
    ROW_NUMBER() OVER (ORDER BY T0.OrderDate ASC) AS ItemNO,
    T0.*,
    IIF(T0.OrderType = 'TRP', '0',
      IIF(T0.LastReceiveNO IS NULL, 
          DATEDIFF(day, T0.AckDate, getDate()),
          IIF(T0.TotalReceiveQty >= T0.Qty, 
              DATEDIFF(day, T0.AckDate, T0.LastReceiveDate) ,
              DATEDIFF(day, T0.AckDate, getDate())
          )
        )
    )  AS DaysDelay
  FROM T0  
     ORDER BY ItemNO ASC
     OFFSET #{Offset} ROWS
     FETCH NEXT #{Limit} ROWS ONLY
  </select>
</mapper>